.carousel {
  min-width: var(--productFeatureCardWidth);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  gap: 2em;
  
}

.carousel .images {
  display: flex;
  width: var(--productFeatureCardWidth);
  transition: transform 0.4s ease-in-out !important;  
}

.carousel .image {
  width: var(--productFeatureCardWidth);
  height: var(--productFeatureCardHeight);
  object-fit: cover;
  border-radius: var(--productFeatureCardBorderRadius);
  background: black;
}

.carousel .indicators {
  display: flex;
  flex-direction: row;
  gap: .8em;
  z-index: 1;
}

.carousel .indicator {
  width: .8em;
  height: .8em;
  border-radius: var(--productFeatureCardBorderRadius);
  cursor: pointer;
  background-color: gray;

  transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out !important;
}

.carousel .indicator.active {
  width: 1.5em;
  background-color: black;
}