:root {
  --marquee-width: 100vw;
  --marquee-height: 25em;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  /* animation: scrolling var(--marquee-animation-duration) linear infinite; */
  gap: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
} */

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;

}

.marquee-content li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}