:root {
  --featureCardGap: 8em;
  --featureTopBotPadding: 2em;
  --productFeatureCardWidth: 30em;
  --productFeatureCardHeight: 30em;
  --productFeatureCardBorderRadius: 2em;
  --productFeatureItemGap: 8em;
  --productFeatureTextFontSize: 1.2rem;
}

#product-container {
  position: relative;
  display: flex;
  flex-direction: column;

  top: calc(var(--navbarHeight));
  
  gap: var(--productFeatureItemGap);
  z-index: 10;
}

#product-container *:not(#sequence-container, #sequence-container *, .slide, .slide *, .marquee, .marquee *) {
  transition: all 200ms cubic-bezier(.33,.16,.32,.99);
}

#product-container .hidden:not(hr) {
  opacity: 0;
}

#product-container *:not(.hidden) {
  opacity: 1;
}

#product-container hr {
  transition: width 1000ms cubic-bezier(.33,.16,.32,.99) !important;
}

#product-container hr.collapsed {
  width: 0;
}

.feature {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--featureTopBotPadding) 0;
  gap: var(--featureCardGap);
}

.feature .title {
  width: calc(var(--productFeatureCardWidth) * 2 + var(--featureCardGap));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 1.2em;
}

.feature .title h2 {
  font-family: Anunnaki;
  font-size: 1.5rem;
  margin-bottom: -.3em;
}

.feature .title hr {
  width: 100%;
  height: .2em;
  background: black;
  border-radius: 4px;
}

.feature .content {
  display: flex;
  justify-content: space-between;
  gap: var(--featureCardGap);
}

.feature .text {
  width: var(--productFeatureCardWidth);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: .2em;
  font-family: 'Satoshi-Regular';
}

.feature .text p, .feature .text h4 {
  font-size: var(--productFeatureTextFontSize);
}

.feature.one {
  align-items: center;
  justify-content: center;
}

.feature.one div {
  width: var(--productFeatureCardWidth);
  height: var(--productFeatureCardHeight);
  justify-self: flex-start;
  background: black;
  border-radius: 2em;
}

.feature.one ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 0.4em;
}

.feature.one li {
  font-family: 'Satoshi-Regular';
  font-size: 1rem;
  font-weight: 600;
  text-indent: -5px;
}

.feature.one li:before {
  content: '-';
  padding-right: .8em;
  text-indent: -5px;
}

.feature.two {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature.two p {
  font-size: 1.2rem;
  width: var(--productFeatureCardWidth);
  height: 10em;
}

.feature.three {
  flex-direction: column;
  justify-content: center;
}

.feature.three .content {
  justify-content: center;
  align-items: center;
}

.feature.three .content img {
  width: var(--productFeatureCardWidth);
  height: auto;
  border-radius: var(--productFeatureCardBorderRadius);
}

.feature.four {
  justify-content: center;
  align-items: center;
}

.feature.four img {
  width: var(--productFeatureCardWidth);
  height: var(--productFeatureCardHeight);
  object-fit: cover;
  background: black;
  border-radius: var(--productFeatureCardBorderRadius);
}

.feature.five {
  justify-content: center;
  align-items: center;
}

.feature.six {
  flex-direction: column;
  align-items: center;
}

.feature.six > div {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: calc(var(--featureCardGap) / 2);
}

.feature.six .text {
  align-self: flex-start;
}

.feature.six .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--featureCardGap) / 2);
}

.feature.six .placeholder {
  width: calc(var(--productFeatureCardWidth) + var(--featureCardGap) / 4);
  height: calc(var(--productFeatureCardHeight));
  background: black;
  border-radius: 2em;
}

.feature.seven {
  flex-direction: column;
}

.feature.seven .content {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: calc(var(--featureCardGap) / 2);
}

.feature.seven .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--featureCardGap) / 2);
}

.feature.seven .placeholder {
  width: calc(var(--productFeatureCardWidth) + var(--featureCardGap) / 4);
  height: var(--productFeatureCardHeight);
  background: black;
  border-radius: 2em;
}

.feature.eight {
  justify-content: center;
  align-items: center;
}

.feature.eight img {
  width: var(--productFeatureCardWidth);
  height: var(--productFeatureCardHeight);
  object-fit: cover;
  border-radius: var(--productFeatureCardBorderRadius);
}

.feature.nine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature.nine .text {
  width: var(--productFeatureCardWidth);
}

.feature.nine .rubber-feet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--productFeatureCardWidth) * 2 + var(--featureCardGap));
  height: auto;
  aspect-ratio: 3;
  background: none;
  box-sizing: border-box;

  border: 14px solid black;
  border-radius: 20em;
}

.feature.nine img {
  width: calc(2 * var(--productFeatureCardWidth) + var(--featureCardGap));
  height: var(--productFeatureCardHeight);

  object-fit: cover;
  border-radius: 2em;
}

.feature.eleven {
  justify-content: center;
  align-items: center;
}

.feature.eleven img {
  width: var(--productFeatureCardWidth);
  height: var(--productFeatureCardHeight);
  object-fit: cover;
  border-radius: var(--productFeatureCardBorderRadius);
}

.feature.twelve {
  flex-direction: column;
  padding: var(--featureTopBotPadding) 0;

  padding-bottom: 10em;
}

.feature.twelve .content {
  width: calc(var(--productFeatureCardWidth) * 2 + var(--featureCardGap));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 1.5em;
}

.feature.twelve .content .text {
  width: calc(var(--productFeatureCardWidth) / 2);
}

.feature.twelve .content .text p {
  font-size: 1.2rem;
}

@media only screen and (min-width: 2200px) {
  :root {
    --productFeatureCardWidth: 35em;
    --productFeatureCardHeight: 35em;
  }
}

@media only screen and (max-width: 1250px) {
  :root {
    --productFeatureCardWidth: 25em;
    --productFeatureCardHeight: 25em;
    --productFeatureTextFontSize: 1rem;
    --featureCardGap: 6em;
  }
}

@media only screen and (max-width: 1050px) {
  :root {
    --productFeatureCardWidth: 20em;
    --productFeatureCardHeight: 20em;
    --productFeatureTextFontSize: 1rem;
    --featureCardGap: 4em;
  }

  .feature.nine .rubber-feet {
    border: 8px solid black;
  }

  .feature.twelve .content .text {
    width: calc(var(--productFeatureCardWidth));
  }
}

@media only screen and (max-width: 850px) {
  :root {
    --productFeatureCardWidth: calc(100vw - 4em);
    --productFeatureCardHeight: calc(100vw - 4em);
    --productFeatureTextFontSize: 1.2rem;
    --productFeatureItemGap: 4em;
    --featureTopBotPadding: 1em;
  }

  .feature {
    flex-direction: column-reverse;
    gap: calc(var(--featureCardGap) / 2);
  }

  .feature .title {
    width: calc(100vw - 4em);
    flex-direction: column;
    align-items: start;
    margin-bottom: 2em;
  }

  .feature.one, .feature.three .content, .feature.five, .feature.eight, .feature.eleven, .feature.nine {
    flex-direction: column;
  }

  .feature.six .container, .feature.seven .container  {
    flex-direction: column;
  }

  .feature.six .placeholder, .feature.seven .placeholder, .feature.nine .rubber-feet {
    width: var(--productFeatureCardWidth);
  }

  .feature.one ul {
    padding-left: calc(var(--featureCardGap) / 2);
  }

  .feature.nine .rubber-feet {
    height: auto;
    aspect-ratio: unset;
    border: none;
  }

  .feature.nine img {
    width: calc(var(--productFeatureCardWidth));
  }

  .feature.nine .text {
    width: calc(var(--productFeatureCardWidth));
  }

  .feature.twelve .content {
    width: calc(var(--productFeatureCardWidth));
  }
}
