@keyframes growInAbout {
  from {
    width: .5rem;
  }
  to {
    width: 15rem;
  }
}

@keyframes growInContact {
  from {
    width: 0.5rem;
  }
  to {
    width: 19rem;
  }
}

@keyframes growInHome {
  from {
    width: 0.5rem;
  }
  to {
    width: 12rem;
  }
}

@keyframes growIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes growInSpinnerBackground {
  from {
    width: 0;
  } 
  to {
    width: 150vw !important;
  }
}

@keyframes slideFadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navbarGrow {
  from {
    width: var(--navbarHeight);
    animation-fill-mode: forwards;
  }
  to {
    width: var(--navbarWidth);
    animation-fill-mode: none;
  }
}

@keyframes navbarButtonGrow {
  0% {
    color: var(--colorTransparent);
    width: 0;
    animation-fill-mode: forwards;
  }
  50% {
    color: var(--colorTransparent);
  }
  100% {
    color: var(--colorNavbarButton);
    width: var(--navbarButtonWidth);
    animation-fill-mode: none;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}