<script>
  import { injectSpeedInsights } from '@vercel/speed-insights/sveltekit';
  import { state, STATE, darkMode, lenis, currentScrollEasing } from '$lib/js/stores';
  import { getCookie, setCookie, deleteCookie } from 'svelte-cookie';
  import Lenis from 'lenis'; 

  // Components
  import NavigationHeader from '$lib/components/NavigationHeader.svelte';
  import HomeComponent from '$lib/components/Home.svelte';
  import ContactComponent from '$lib/components/Contact.svelte';
  import AboutComponent from '$lib/components/About.svelte';
  import ProductComponent from '$lib/components/Product.svelte';
  import Footer from '$lib/components/Footer.svelte';


  import { onDestroy, onMount } from 'svelte';
  import LoadingSpinner from '$lib/components/LoadingSpinner.svelte';
  
  const COOKIE_firstVisit = getCookie('firstVisit');
  const COOKIE_darkMode = getCookie('darkMode');

  if (COOKIE_firstVisit && COOKIE_firstVisit === 'true') {
    $state = STATE.Loading;
  } else {
    $state = STATE.Home;
  }

  if (COOKIE_darkMode && COOKIE_darkMode === 'true') {
    $darkMode = true;
  } else {
    $darkMode = false;
  }

  const raf = (time) => {
    $lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  onMount(() => {
    injectSpeedInsights();

    $lenis = new Lenis({
      duration: 1, // speed
      easing: (t) => $currentScrollEasing.func(t), // https://www.desmos.com/calculator/brs54l4xou
      direction: "vertical", // vertical, horizontal
      gestureDirection: "vertical", // vertical, horizontal, both
      smooth: true,
      mouseMultiplier: 1, // sensibility
      smoothTouch: true, // Mobile
      touchMultiplier: 2, // sensibility on mobile
      infinite: false // Infinite scrolling
    });
  });

</script>

<style>
  @import '../lib/css/+page.css';
</style>

<section id='app' class:darkmode={$darkMode}>
  {#if $state == STATE.Loading}
    <LoadingSpinner />
  {/if}
  <div id='main'>
    <NavigationHeader />

    {#if $state == STATE.Home || $state == STATE.Product}
      <div id="product-header-container">
        <div class="header">
          <div class="intro" class:active={$state == STATE.Home}>
            <h3>INTRODUCING</h3>
            <hr>
          </div>
          <h1>INANNA&nbsp;N60</h1>
        </div>
      </div>
    {/if}

    {#if $state == STATE.Home}
      <HomeComponent />
    {:else if $state == STATE.Contact}
      <ContactComponent />
    {:else if $state == STATE.About}
      <AboutComponent />
    {:else if $state == STATE.Product}
      <ProductComponent product="InannaN60"/>
    {/if}

    

  </div>

  {#if $state !== STATE.Home}
    <Footer/>
  {/if}
</section>

