<script>
  import { onMount } from 'svelte';
  import { quintInOut, quintOut } from 'svelte/easing';
  import { slide } from 'svelte/transition';
  import { importComponentMedia } from '$lib/js/helper.js';

  export let product = "";
  let images = importComponentMedia(product, 'carousel');

  let carouselContainerRef;

  let currentIndex = 0;

  const next = () => {
    currentIndex = (currentIndex + 1) % images.length;
  }

  const prev = () => {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
  }

  let interval;

  onMount(() => {
    interval = setInterval(next, 4000);
    return () => clearInterval(interval);
  })

</script>

<div class="carousel" bind:this={carouselContainerRef}>
  <div class="images" style="transform: translateX(calc(-1 * {currentIndex} * var(--productFeatureCardWidth)));">
    {#each Object.entries(images) as [_path, module], index}
      <img src={module.default} alt="Carousel Image {index + 1}" class="image" transition:slide={{duration: 200, easing: quintInOut}} />
    {/each}
  </div>
  <div class="indicators">
    {#each images as _, index}
      <div class="indicator" class:active={index === currentIndex} on:click={() => currentIndex = index}></div>
    {/each}
  </div>
</div>

<style>
  @import '../css/components/Carousel.css';
</style>