<script>
  import { onMount } from "svelte";
  import { importComponentMedia } from '$lib/js/helper.js';
  import { gsap } from 'gsap';

  export let product = "";
  let images = importComponentMedia(product, 'infinite-carousel');
  let marqueeContent;

  onMount(() => {
    const root = document.documentElement;
    const marqueeElement = document.querySelector('.marquee-content li');
    const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");

    const marqueeWidth = parseInt(getComputedStyle(root).getPropertyValue('--marquee-width'));

    root.style.setProperty("--marquee-elements", marqueeContent.children.length);

    const marqueeElementWidth = parseInt(getComputedStyle(marqueeElement).width);
    const marqueeElementGap = parseInt(getComputedStyle(marqueeContent).gap);
    const marqueeElements = marqueeContent.children.length;

    // TODO: Fix this to reflect the CSS animation `scroll` defined below.
    const animation = gsap.timeline().to(marqueeContent, {
      x: `-${(marqueeElementWidth + marqueeElementGap) * marqueeElements}px`,
      duration: marqueeElements * 5,
      ease: "linear",
      repeat: -1,
      invalidateOnRefresh: true
    });

    for (let i = 0; i < marqueeElementsDisplayed; i++) {
      marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
    }

    marqueeContent.addEventListener('mouseenter', () => {
      gsap.to(animation, {timeScale: 0.3, duration: .5, ease: "power2.out"});
    });

    marqueeContent.addEventListener('mouseleave', () => {
      gsap.to(animation, {timeScale: 1, duration: .5, ease: "power2.out"});
    });
    
  });
  
</script>

<div class="marquee">
  <ul class="marquee-content" bind:this={marqueeContent}>
    {#each Object.entries(images) as [_path, module], index}
      <li><img src={module.default} alt={product + " " + (index + 1)} /></li>
    {/each}
  </ul>
</div>

<style>

:root {
  --marquee-width: 100vw;
  --marquee-height: 25rem;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  /* animation: scrolling var(--marquee-animation-duration) linear infinite; */
  gap: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
} */

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;

}

.marquee-content li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

</style>