<script>
  import { onMount } from "svelte";
  import { importComponentMedia } from '$lib/js/helper.js';
  import { gsap } from 'gsap';

  export let product = "";
  let images = importComponentMedia(product, 'infinite-carousel');
  let marqueeContentRef;
  let marqueeElementsDisplayed;
  let animation;

  onMount(() => {
    marqueeElementsDisplayed = getComputedStyle(document.documentElement).getPropertyValue("--marquee-elements-displayed");

    initAnimation();

    for (let i = 0; i < marqueeElementsDisplayed; i++) {
      marqueeContentRef.appendChild(marqueeContentRef.children[i].cloneNode(true));
    }

    marqueeContentRef.addEventListener('mouseenter', () => {
      gsap.to(animation, {timeScale: 0.3, duration: .5, ease: "power2.out"});
    });

    marqueeContentRef.addEventListener('mouseleave', () => {
      gsap.to(animation, {timeScale: 1, duration: .5, ease: "power2.out"});
    });
  });

  const initAnimation = () => {
    const marqueeElementWidth = parseInt(getComputedStyle(document.querySelector('.marquee-content li')).width);
    const marqueeElementGap = parseInt(getComputedStyle(marqueeContentRef).gap);
    const marqueeElements = marqueeContentRef.children.length;

    animation = gsap.timeline().to(marqueeContentRef, {
      x: `-${(marqueeElementWidth + marqueeElementGap) * marqueeElements}px`,
      duration: marqueeElements * 5,
      ease: "linear",
      repeat: -1,
    });
  }

  const handleResize = () => {
    initAnimation();
  }
  
</script>

<svelte:document style='--marquee-elements:{marqueeContentRef.children.length}' />

<style>

  @import '../css/components/InfiniteCarousel.css';
  
</style>

<svelte:window on:resize={handleResize}/>


<div class="marquee">
  <ul class="marquee-content" bind:this={marqueeContentRef}>
    {#each Object.entries(images) as [_path, module], index}
      <li><img src={module.default} alt={product + " " + (index + 1)} /></li>
    {/each}
  </ul>
</div>