<script>
  import { onMount } from 'svelte';

  // Media
  import PLATEMATERIAL from '$lib/img/InannaN60/PLATE_MATERIAL.webp';
  import NUMPAD from '$lib/img/InannaN60/NUMPAD.webp';
  import RUBBERFEET from '$lib/img/InannaN60/RUBBER_FEET.webp';
  import LAYOUT from '$lib/img/InannaN60/LAYOUT.webp';
  import ANGLE from '$lib/img/InannaN60/ANGLE.webp';

  // Components
  import PNGSequenceComponent from '$lib/components/PNGSequence.svelte';
  import CarouselComponent from '$lib/components/Carousel.svelte';
  import InfiniteCarouselComponent from '$lib/components/InfiniteCarousel.svelte';

  import shuffleLetters from 'shuffle-letters';

  export let product = "";

  let fadeObserver;
  let hiddenElements;

  onMount(() => {

    hiddenElements = document.querySelectorAll('#product-container *');

    fadeObserver = new IntersectionObserver((entries, o) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // Shuffle animation on body text
            if (entry.target.tagName == "P" && !entry.target.classList.contains('shuffled')) {
              entry.target.classList.add('shuffled');
              shuffleLetters(entry.target, {
                text: entry.target.innerText,
                iterations: 2,
                fps: 60
              });
            }
            // Longer shuffle animation for feature titles
            if (entry.target.matches('.feature .title h2') && !entry.target.classList.contains('shuffled')) {
              entry.target.classList.add('shuffled');
              shuffleLetters(entry.target, {
                text: entry.target.innerText,
                iterations: 10,
                fps: 40,
                onComplete: el => {
                  if (el.nextElementSibling.classList.contains("collapsed"))
                    el.nextElementSibling.classList.remove("collapsed");
                }
              });
            }

            if (entry.target.classList.contains('hidden'))
              entry.target.classList.remove('hidden');
          }
        });
      }, { rootMargin: '0px 0px -5% 0px' });
    

      hiddenElements.forEach((el) => fadeObserver.observe(el));
  });

</script>

<style scoped>
  @import '../css/components/ProductOld.css';
</style>

<div id="product-container">

  <PNGSequenceComponent product={product}/>
  
  <div class="feature one">
    <div class="placeholder hidden"></div>
    <ul class="text">
      <li class="hidden">Leafspring plate</li>
      <li class="hidden">Gasket mount</li>
      <li class="hidden">Southpaw numpad</li>
      <li class="hidden">Polished brass plate & weight</li>
      <li class="hidden">Daughterboard</li>
      <li class="hidden">Multi-foam design</li>
    </ul>
  </div>
  
  <div class="feature two">
    <InfiniteCarouselComponent />
  </div>

  <div class="feature three">
    <div class="title">
      <h2>TYPING&nbsp;EXPERIENCE</h2>
      <hr class="collapsed">
    </div>
    <div class="content">
      <div class="text">
        <h4 class="feature-title hidden">TYPING&nbsp;ANGLE</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
      </div>
      <img src={ANGLE} alt=""/>
    </div>
  </div>

  <div class="feature four">
    <img src={PLATEMATERIAL} alt=""/>
    <div class="text">
      <h4 class="feature-title hidden">PLATE&nbsp;MATERIAL</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
    </div>
  </div>

  <div class="feature five">
    <div class="text">
      <h4 class="feature-title hidden">MOUNTING</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
    </div>
    <CarouselComponent product={product} />
  </div>

  <div class="feature six">
    <div>
      <div class="text">
        <h4 class="feature-title hidden">PLATE&nbsp;MATERIALS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
      </div>
      <div class="container">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
  </div>

  <div class="feature seven">
    <div class="title">
      <h2>BUILD&nbsp;AND&nbsp;FEATURES</h2>
      <hr class="collapsed">
    </div>
    <div class="content">
      <div class="text">
        <h4 class="feature-title hidden">CASE&nbsp;MATERIALS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
      </div>
      <div class="container">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
  </div>

  <div class="feature eight">
    <div class="text">
      <h4 class="feature-title hidden">NUMPAD</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
    </div>
    <img src={NUMPAD} alt="Numpad" loading="lazy"/>
  </div>

  <div class="feature nine">
    <div class="rubber-feet">
      <div class="text">
        <h4 class="feature-title hidden">RUBBER&nbsp;FEET</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
      </div>
      
    </div>
    <img src={RUBBERFEET} alt="Rubber feet" loading="lazy"/>
  </div>

  <div class="feature eleven">
    <div class="text">
      <h4 class="feature-title hidden">LAYOUT</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor eros vitae lorem imperdiet rutrum.</p>
    </div>
    <img src={LAYOUT} alt="Layout" loading="lazy"/>
  </div>

  <div class="feature twelve">
    <div class="title">
      <h2>SPECIFICATIONS</h2>
      <hr class="collapsed">
    </div>
    <div class="content">
      <div class="text">
        <h4 class="feature-title hidden">LAYOUT</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="text">
        <h4 class="feature-title hidden">CASE&nbsp;MATERIALS</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="text">
        <h4 class="feature-title hidden">LAYOUT</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="text">
        <h4 class="feature-title hidden">CASE&nbsp;MATERIALS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="text">
        <h4 class="feature-title hidden">LAYOUT</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="text">
        <h4 class="feature-title hidden">CASE&nbsp;MATERIALS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    
  </div>
</div>