<script>
  import ANUStar from "$lib/components/svg/ANUStar.svelte";
  import ANUText from "$lib/components/svg/ANUText.svelte";
</script>

<style>
  @import '../../css/components/ANULogo.css';
</style>

<div class="ANULogo">
  <ANUStar />
  <ANUText />
</div>