<svg data-name="ANU star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.48 130.48">
  <defs>
    <style>
      .ANUStar {
        fill: var(--colorNavbarHomeButton);
        transition: all 250ms cubic-bezier(.33,.16,.32,.99);
      }
    </style>
  </defs>
  <path class="ANUStar" d="M128.86,67.78c-21.68,0-38.7.67-53.33,1.72,9.6,11.09,21.18,23.58,36.5,38.93a1.63,1.63,0,0,1,0,2.29L110.72,112a1.63,1.63,0,0,1-2.29,0C93.08,96.72,80.6,85.14,69.51,75.54c-1.05,14.63-1.69,31.64-1.72,53.32a1.62,1.62,0,0,1-1.61,1.62H64.31a1.62,1.62,0,0,1-1.61-1.61c0-20.35-.59-36.58-1.53-50.59C50.36,91.87,41.4,104.39,29.88,119.55a1.63,1.63,0,0,1-2.43.17L10.76,103a1.62,1.62,0,0,1,.18-2.43C24.77,90.09,36.41,81.71,48.66,72.11,33.21,74,19.06,76.28,1.84,78.63A1.62,1.62,0,0,1,0,77V53.44a1.62,1.62,0,0,1,1.84-1.6c17.21,2.35,31.36,4.65,46.81,6.53-12.25-9.6-23.88-18-37.71-28.49a1.62,1.62,0,0,1-.18-2.43L27.45,10.76a1.62,1.62,0,0,1,2.43.18C40.39,24.77,48.77,36.4,58.37,48.65c-1.88-15.45-4.18-29.6-6.53-46.81A1.62,1.62,0,0,1,53.44,0H77.05a1.62,1.62,0,0,1,1.59,1.84c-2.57,18.86-5.09,34.05-7.06,51.31C82.15,43.9,94,32.83,108.43,18.46a1.62,1.62,0,0,1,2.29,0L112,19.77a1.61,1.61,0,0,1,0,2.28C96.71,37.4,85.14,49.88,75.53,61c14.64,1.05,31.65,1.7,53.33,1.73a1.62,1.62,0,0,1,1.62,1.6v1.87A1.62,1.62,0,0,1,128.86,67.78Z"/>
</svg>