<svg data-name="ANU text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136.92 31.95">
  <defs>
    <style>
      .ANUText {
        fill: var(--colorNavbarHomeButton);
        transition: all 250ms cubic-bezier(.33,.16,.32,.99);
      }
    </style>
  </defs>
  <g data-name="ANUText">
    <path class="ANUText" d="M2.39,32A2.39,2.39,0,0,1,0,29.56V12C0,6,1,3.56,4,1.85,6.69.29,9.39,0,20.57,0c11,0,14.27.66,16.6,3.27,1.61,1.85,2.08,4,2.08,9.86V29.56A2.39,2.39,0,0,1,36.86,32H34.34A2.39,2.39,0,0,1,32,29.56V15.41c0-4.22,0-4.22-.24-5.55-.52-3.36-2.37-4-11.85-4a61.44,61.44,0,0,0-9.29.47A3.91,3.91,0,0,0,7.44,10a36.88,36.88,0,0,0-.14,5V29.56A2.39,2.39,0,0,1,4.91,32Z"/>
    <path class="ANUText" d="M55.32,0h0a7.82,7.82,0,0,1,5.82,2.59L78.36,21.66a2.38,2.38,0,0,0,4.16-1.61L82.43,2.4A2.39,2.39,0,0,1,84.82,0H87a2.39,2.39,0,0,1,2.39,2.39V23.78a7.84,7.84,0,0,1-7.85,7.84h0A7.84,7.84,0,0,1,75.67,29L58.6,10.11a2.39,2.39,0,0,0-4.17,1.61l.1,17.5a2.39,2.39,0,0,1-2.39,2.4H49.87a2.39,2.39,0,0,1-2.39-2.39V7.84A7.84,7.84,0,0,1,55.32,0Z"/>
    <path class="ANUText" d="M134.53,0a2.39,2.39,0,0,1,2.39,2.39V19.91c0,6-.95,8.49-4,10.19-2.7,1.57-5.4,1.85-16.59,1.85-11,0-14.27-.66-16.59-3.27-1.61-1.84-2.09-4-2.09-9.86V2.39A2.39,2.39,0,0,1,100.05,0h2.52A2.39,2.39,0,0,1,105,2.39V16.55c0,4.22,0,4.22.24,5.54.52,3.37,2.37,4,11.85,4a60,60,0,0,0,9.29-.47,3.88,3.88,0,0,0,3.13-3.6c.1-.57.1-.57.14-5V2.39A2.39,2.39,0,0,1,132,0Z"/>
  </g>
</svg>