<svg id="left-chevron" data-name="Left chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 719.91">
  <defs>
    <style>
      .left-chevron {
        fill: var(--colorANURed);
        transition: all 250ms cubic-bezier(.33,.16,.32,.99);
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="left-chevron" d="M50,446.56l450,259.81c66.67,38.49,150-9.62,150-86.6V100.15c0-76.98-83.33-125.09-150-86.6L50,273.35c-66.67,38.49-66.67,134.72,0,173.21Z"/>
</svg>