<svg id="right-chevron" data-name="Right chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 719.91">
  <defs>
    <style>
      .right-chevron {
        fill: var(--colorANURed);
        transition: all 250ms cubic-bezier(.33,.16,.32,.99);
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="right-chevron" d="M600,273.35L150,13.55C83.33-24.94,0,23.17,0,100.15v519.62c0,76.98,83.33,125.09,150,86.6l450-259.81c66.67-38.49,66.67-134.72,0-173.21Z"/>
</svg>