.ANULogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 5rem;
  height: auto;
}

.ANULogo .ANUStar {
  fill: var(--colorANURed);
}

.ANULogo .ANUText {
  fill: var(--colorTextPrimary);
}