.carousel {
  position: relative;
  min-width: var(--productFeatureWidth);
  height: calc(var(--productFeatureHeight) + 4em);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  overflow: hidden;
  
  gap: 2em;
}

.carousel .images {
  --carouselGap: 2em;
  display: flex;
  width: var(--productFeatureWidth);
  
  gap: var(--carouselGap);

  transition: transform 0.4s ease-in-out !important;
}

.carousel .image {
  width: var(--productFeatureWidth);
  height: var(--productFeatureHeight);
  object-fit: cover;
  border-radius: var(--productFeatureBorderRadius);
  background: black;
}

.carousel .indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: .8em;
  z-index: 1;
}

.carousel .indicator {
  width: .8em;
  height: .8em;
  border-radius: var(--productFeatureBorderRadius);
  cursor: pointer;
  background-color: var(--colorTextDisabled);

  transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out !important;
}

.carousel .indicator.active {
  width: 1.5em;
  background-color: var(--colorTextPrimary);
}