#app {
  --fadingCarouselSlideImageHeight: calc(var(--productFeatureHeight) * 1.25);
  --fadingCarouselSlideSpacing: 1rem;
  --fadingCarouselSlideWidth: var(--productFeatureWidth);
}

.fading-carousel {
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: center;

  overflow: visible;
  width: 100%;
  
  user-select: none;
}

.fading-carousel .slides {
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  width: 100%;
  height: auto; /* Allow height to adjust based on content */
  min-height: calc(1.5 * var(--productFeatureHeight) + var(--featureGap));
  
  user-select: none;
}

.fading-carousel .slide {
  position: absolute;
  left: 50%;
  top: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: fit-content;
  scale: 1;

  transition: all 300ms var(--easeInOut);
  transform: unset;
  transform-origin: 50%;
}

.fading-carousel .slide .text {
  justify-content: center;
  align-items: center;
  transition: all 200ms var(--easeInOut);
}

.fading-carousel h4 {
  font-size: var(--productFeatureSubTitleTextSize);
  width: unset !important;
}

.fading-carousel .slide .text p {
  padding: 2rem;
  text-align: center;
}

.fading-carousel .slide.active {
  scale: 1;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.fading-carousel .slide.active .text {
  opacity: 1;
}

.fading-carousel .slide.prev {
  z-index: 2;
  opacity: 0.75;
  transform-origin: 50%;
  transform: translate(calc(-50% + -50%), -50%) scale(0.75);
}

.fading-carousel .slide.next {
  z-index: 2;
  opacity: 0.75;
  transform-origin: 50%;
  transform: translate(calc(-50% + 50%), -50%) scale(0.75);
}

.fading-carousel .slide.prev .text {
  opacity: 0;
}

.fading-carousel .slide.next .text {
  opacity: 0;
}

.fading-carousel .slide.prev .placeholder {
  filter: blur(2px);
}

.fading-carousel .slide.next .placeholder {
  filter: blur(2px);
}

.fading-carousel .slide .placeholder {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Satoshi-Regular';
  font-size: 1.5rem;
  color: var(--colorTextOnLight);

  background: lightgray;
  border-radius: calc(var(--productFeatureBorderRadius) / 2);

  width: 100%;
  height: calc(var(--productFeatureHeight) + var(--featureGap));

  user-select: none;
}

.fading-carousel .buttons {
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--productFeatureWidth) + var(--featureGap));

  left: 50%;
  bottom: calc(var(--productFeatureHeight) / 1.45);

  transform: translate(-50%, -50%);

  z-index: 6;
}

.fading-carousel .buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 3.5rem;
  height: 3.5rem;
  
  padding: 1rem !important;

  background: none;
  border: none;

  cursor: pointer;
}

.fading-carousel .pill {
  position: relative;
  padding: .5rem 2rem;
  margin-top: 2rem;

  font-family: 'Satoshi-Regular';
  font-size: 1rem;
  color: var(--colorTextOnDark);

  border-radius: var(--productFeatureBorderRadius);
  background: var(--colorANURed);

  transition: width 500ms var(--easeInOut);
}

.fading-carousel .overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgb(255,255,255, 0);
  background: linear-gradient(90deg, var(--colorEdgeFade) 0%, var(--colorTransparent) 30%, var(--colorTransparent) 70%, var(--colorEdgeFade) 100%);
  
  pointer-events: none;

  z-index: 5;
}