#feature-scroller {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--productFeatureWidth) * 2 + var(--featureGap));
  height: 100vh;
}

#feature-scroller.scrolled {
  position: relative;
}

#feature-scroller ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 1em;
}

#feature-scroller li {
  position: relative;
  display: flex;
  align-items: center;

  width: fit-content;

  font-family: 'Satoshi-Regular';
  font-size: 1rem;
  font-weight: 600;
  color: var(--colorTextPrimary);
  opacity: 0.5;
  padding: .5em;

  text-transform: uppercase;
  white-space: nowrap;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

#feature-scroller li.active {
  opacity: 1;
}

#feature-scroller li.active:before {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: -3em;
  content: '';
  background: url('../../img/icons/play.svg') no-repeat;
}

#feature-scroller img {
  width: calc(var(--productFeatureWidth) + var(--featureGap));
  aspect-ratio: 1;
  
  object-fit: cover;

  border-radius: calc(var(--productFeatureBorderRadius) / 2);
}