.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;

  gap: calc(var(--productFeatureBorderRadius) / 4);


  margin-top: calc(var(--navbarHeight) * 2);
  margin-bottom: var(--featureGap);

  width: calc(90vw - var(--featureGap));
  height: calc(var(--productFeatureHeight) * .6);
  padding: 0;
}

.footer > div {
  height: 100%;
  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  background: var(--colorFooterBackground);
}

.footer .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
  padding-left: 6rem;

  flex: 1;

  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  background: var(--colorFooterBackground);

  gap: 2rem;
}

.footer .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 1.2rem;

  user-select: none;
}

.footer .contact-info hr {
  width: 100%;
  height: 1px;

  background: var(--colorTextPrimary);

  margin-bottom: 1rem;
}

.footer .contact-info a {
  font-family: 'Satoshi-Bold';
  font-size: .9rem;
  color: var(--colorTextPrimary);
  text-decoration: none;
}

.footer .contact-info span {
  user-select: auto;
}

.footer .v-divider {
  position: absolute;

  width: 1px;
  height: calc(80%);
  left: 50%;

  background: var(--colorANURed);
  background: linear-gradient(0deg, var(--colorTransparent) 0%, var(--colorANURed) 4%, var(--colorANURed) 96%, var(--colorTransparent) 100%);
  opacity: 0.8;

  border-radius: 2px;
}

.footer .footer-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-self: flex-end;

  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  background: var(--colorFooterBackground);

  height: 100%;

  flex: 1;

  gap: 5rem;
}

.footer .footer-items .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: .5rem;
  
  font-family: 'Satoshi-Bold';
  color: var(--colorTextPrimary);
  
  background: none;
  border: none;
}

.footer .footer-items .list .header {
  display: flex;
  height: 1.5rem;

  font-family: 'Satoshi-Bold';
  color: var(--colorTextPrimary);
  text-decoration: none;

  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}

.footer .footer-items .list .nav-btn:not(.header) {
  display: flex;
  height: 1.5rem;

  font-family: 'Satoshi-Regular';
  color: var(--colorTextPrimary);
  text-decoration: none;

  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}

.footer .bottom-piece {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  flex-basis: 100%;
  height: unset;

  padding: calc(var(--featureGap) / 4);
}

.footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  font-family: 'Satoshi-Regular';
  font-size: .9rem;
  color: var(--colorTextPrimary);
}