#app {
  --indexIndicatorCircleSize: .6em;
  --indexVisibleItems: 4;
  --indexItemFontSize: .9rem;
  --indexItemLineHeightMulti: 3;
  --indexItemLineHeight: calc(var(--indexItemFontSize) * var(--indexItemLineHeightMulti));
}

#index-container {
  display: flex;
  position: sticky;
  top: calc(50vh - (var(--indexVisibleItems) * var(--indexItemLineHeight)) / 2);
  width: fit-content;

  align-self: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  height: 0;
  max-height: calc(var(--indexVisibleItems) * var(--indexItemLineHeight));
  padding: 0 var(--gridCellSize);
  opacity: 1;

  transform: translateY(-50%);
}

#index-container .line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 0;
  max-height: calc(var(--indexVisibleItems) * var(--indexItemLineHeight));
  width: 1px;
  padding: 0;
  background: var(--colorTextPrimary);

  border-radius: 6px;
  transition: all 400ms var(--easeInOut);
}

#index-container .circle {
  position: absolute;

  width: var(--indexIndicatorCircleSize);
  height: auto;
  aspect-ratio: 1;

  margin-top: calc(var(--indexItemLineHeight) / 2);

  background: var(--colorANURed);
  border-radius: .6em;
  
  transform: translateY(calc(-50%));
  transition: all 400ms var(--easeInOut) !important;
}

#index-list {
  margin: 0;
  padding-left: 2em;
}

#index-list li {
  position: relative;
  display: flex;
  align-items: center;

  font-family: 'Satoshi-Bold';
  font-size: var(--indexItemFontSize);
  color: var(--colorTextPrimary);
  text-align: left;
  white-space: nowrap;

  opacity: .2;
  list-style-type: none;
  line-height: var(--indexItemLineHeight);
  user-select: none;

  cursor: pointer;

  transition: all 250ms var(--easeInOut);
}

#index-list li.active {
  color: var(--colorANURed);
  opacity: 1;
}

#index-list li.ii-from-active {
  opacity: 0.6;
}

#index-list li.iii-from-active {
  opacity: 0.4;
}

#index-list li.iv-from-active {
  opacity: 0.2;
}

#index-list li.v-from-active {
  opacity: 0.1;
}

@media screen and (max-width: 1600px) {
  #index-container {
    display: none;
  }

}