#app {
  --loadingSpinnerContainerLoadInDuration: 500ms;
  --loadingSpinnerContainerTransDuration: 500ms;
  --loadingSpinnerTransDuration: 500ms;
}

#loading-spinner-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 0;
  height: 0;
  background-color: var(--colorANURed);
  border-radius: 100%;
  z-index: 0;
  visibility: visible;

  top: 50%;
  left: 50%;

  transition:
    all var(--loadingSpinnerContainerTransDuration) var(--easeInOut),
    height var(--loadingSpinnerContainerLoadInDuration) var(--easeInOut);

  transform: translate(-50%, -50%);

}

#loading-spinner-container.shown {
  height: 150vw;
  width: 150vw;
}

#loading-spinner-container.loaded {
  height: var(--navbarHeight);
  width: var(--navbarHeight);
}

#loading-spinner-container.toNavBar {
  top: var(--navbarMarginTop);
  transform: translate(-50%, 0);
  border-radius: var(--navbarBorderRadius);
  justify-content: start;
}

#loading-spinner-container.hide {
  visibility: hidden;
}

#loading-spinner {
  width: auto;
  height: 0;
  aspect-ratio: 1;

  object-fit: cover;

  z-index: 1;

  transition: all var(--loadingSpinnerTransDuration) var(--easeInOut);
}

#loading-spinner.shown {
  height: 20%;
}

#loading-spinner.loaded {
  height: 100%;
}

@media screen and (max-width: 1100px) {
  #loading-spinner-container.shown {
    height: 150vh;
    width: 150vh;
  }
  
  #loading-spinner-container.loaded {
    height: var(--navbarHeight);
    width: var(--navbarHeight);
  }
  
  #loading-spinner-container.toNavBar {
    top: var(--navbarMarginTop);
    transform: translate(-50%, 0);
    border-radius: var(--navbarBorderRadius);
    justify-content: start;
  }
}