#app {
  --navbarMarginTop: 1rem;
  --navbarWidth: calc(3 * var(--navbarButtonWidth) + var(--navbarGap) + 3 * var(--navbarButtonsGap) + var(--navbarHeight));
  --navbarHeight: calc(var(--gridCellSize) * 1.8);
  --navbarFontSize: calc(var(--gridCellSize) * .45);
  --navbarGap: 6rem;
  --navbarBorderRadius: 4rem;

  --navbarButtonWidth: 8rem;
  --navbarButtonsGap: 1rem;
}

#nav-container {
  position: fixed;
  display: flex;
  display: webkit-box;
  display: webkit-flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: var(--navbarGap);
  
  width: var(--navbarHeight);
  height: var(--navbarHeight);
  top: calc(-1 * var(--navbarHeight));
  box-sizing: border-box;
  left: 50%;
  opacity: 1;
  
  background: var(--colorNavbar);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border-radius: var(--navbarBorderRadius);

  z-index: 11;

  transform: translateX(-50%);

  transition: all 250ms var(--easeInOut);
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nav-container.loaded {
  width: var(--navbarWidth);
}

#nav-container.active {
  top: var(--navbarMarginTop);
  -webkit-box-shadow: 0px 0px 1rem -5px var(--colorNavbarShadow);
  -moz-box-shadow: 0px 0px 1rem -5px var(--colorNavbarShadow);
  box-shadow: 0px 0px 1rem -5px var(--colorNavbarShadow);
}

#nav-container.hidden {
  opacity: 0;
}

#nav-container > *:not(.noise-container) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 3;
}

#nav-container #btn-home {
  display: flex;
  display: webkit-box;
  display: webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;
  aspect-ratio: 1;

  background: none;
  border: none;
  border-radius: 1rem;
  padding: .6rem;
    
  z-index: 3;
  cursor: pointer;

  transition: background-color 250ms var(--easeInOut);
}

#nav-container #btn-home svg {
  width: 100%;
  height: 100%;
}

#nav-container #btn-home:hover svg .cls-1 {
  fill: var(--colorNavbarButtonHover);
}

#nav-items {
  display: flex;
  display: webkit-box;
  display: webkit-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
  gap: var(--navbarButtonsGap);

  height: 100%;

  z-index: 3;
}

#nav-items button, #mobile-menu button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: none;
  cursor: pointer;
  font-family: 'Satoshi-Bold';
  font-size: var(--navbarFontSize);
  color: var(--colorTransparent);

  height: 100%;
  width: 0;
  
  white-space: nowrap;

  border: none;
  padding: .5rem 1.5rem;
  transition: all 250ms var(--easeInOut);
}

#nav-items button.loaded, #mobile-menu button.loaded {
  color: var(--colorNavbarButton);
  width: var(--navbarButtonWidth);
}

#mobile-menu button {
  margin-left: var(--gridCellSize);
}

#nav-items button.active, #mobile-menu button.active {
  color: var(--colorNavbarButtonActive);
}

#nav-items button, #nav-items button .nav-icon, #mobile-menu button, #mobile-menu button .nav-icon {
  transition: var(--easeInOut) .25s;
}

#nav-items .nav-btn:not(.active):hover {
  color: var(--colorNavbarButtonHover);
}

#hamburger {
  display: none;

  width: var(--gridCellSize);
  
  background: none;
  border: none;
  
  margin: 0 var(--gridCellSize);
  padding: 0;
  
  transition: all 250ms var(--easeInOut);
}

#hamburger:hover .line {
  background-color: var(--colorTextPrimary);
}

#hamburger .line {
  display: block;

  width: calc(var(--gridCellSize) * .7);
  height: 2px;
  background-color: var(--colorWhite);

  margin: 8px auto;

  transition: all 200ms var(--easeInOut);
}

#hamburger.active > .line#top {
  transform: translateY(10px);
}

#hamburger.active > .line#bot {
  transform: translateY(-10px);
}

#hamburger.active .line {
  background-color: var(--colorANURed);
}

#mobile-menu {
  position: absolute;
  display: none;
}

#hamburger.hidden {
  display: none;
}

@media only screen and (max-width: 850px) {
  #app {
    --navbarWidth: calc(100% - 2 * var(--navbarMarginTop));
    --navbarMarginTop: 1rem;
    --navbarBorderRadius: 2rem;
  }

  #nav-container {
    justify-content: space-between;
  }

  #mobile-menu button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    background: none;
    cursor: pointer;
    font-family: 'Satoshi-Regular';
    font-size: var(--navbarFontSize);
    font-weight: 400;
    color: var(--colorTextPrimary);
  
    height: 3em;
    min-width: inherit;
    
    white-space: nowrap;
  
    border: none;
    border-radius: 4rem;
    padding: .5rem 1.5rem;
    transition: all 250ms var(--easeInOut);
  }

  #mobile-menu button.active {
    color: var(--colorANURed);
  }

  #mobile-menu button:not(.active):hover {
    color: var(--colorANURed);
  }

  #mobile-menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: var(--colorTextBlue);
    gap: var(--gridCellSize);

    height: 100vh;
    width: 100vw;
    top: calc(-1 * var(--navbarMarginTop));
    right: calc(-1 * var(--navbarMarginTop));

    background: var(--colorWhite);

    z-index: 2;
  }

  #nav-container #nav-items {
    display: none;
  }
  
  #hamburger {
    display: block;
  }
  
  #hamburger:hover {
    cursor: pointer;
  }
}