 .other-carousel {
  --currentIndex: 0;
  --itemWidth: calc(25% - .75rem);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  gap: calc(var(--featureGap) / 2);
}

.other-carousel .container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;

  flex-wrap: nowrap;
  width: 100%;
  height: calc(var(--productFeatureHeight));
  border-radius: calc(var(--productFeatureBorderRadius) / 2);

  gap: 1rem;

  overflow: hidden;
}

.other-carousel .container .placeholder[index='0'] {
  --index: 0;
}

.other-carousel .container .placeholder[index='1'] {
  --index: 1;
}

.other-carousel .container .placeholder[index='2'] {
  --index: 2;
}

.other-carousel .container .placeholder[index='3'] {
  --index: 3;
}

.other-carousel .container .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  min-width: var(--itemWidth);
  background: lightgray;

  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  transition: all 400ms var(--easeInOut), transform 400ms var(--easeInOut) calc(var(--index) * 100ms) !important;

  opacity: 1;
  transform: translateY(0);

  z-index: 5;

  cursor: pointer;
}

.other-carousel .container .placeholder.hidden {
  opacity: 0;
  transform: translateX(calc(-100% * (var(--index) + 1)));
  z-index: calc(-1 * var(--index));
}

.other-carousel .container .placeholder span {
  font-family: 'Satoshi-Regular';
  font-size: 1.2rem;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  margin: calc(var(--featureGap) / 4);

  transform: rotate(-180deg);

  user-select: none;
}

.other-carousel .container .placeholder:hover {
  min-width: 100%;
}

.other-carousel .container:has(.placeholder:hover) > .placeholder:first-of-type {
  margin-left: calc(-1 * var(--currentIndex) * var(--itemWidth) - (1rem * var(--currentIndex)));
}