#png-sequence-controls-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  top: calc(var(--navbarHeight));
  left: 1em;

  gap: 1em;
  
  z-index: 1001;

  transform: translateX(calc(-100% + 1em));
  transition: all 200ms ease;
}

#png-sequence-controls-container.active {
  transform: translateX(0);
}

.png-sequence-controls-toggle {
  width: .5em;
  height: .5em;
  border: solid var(--colorANURed);
  border-width: 0 4px 4px 0;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.png-sequence-controls-toggle {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.png-sequence-controls-toggle.active {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#png-sequence-controls {
  flex-direction: column;

  width: max-content; 
  height: max-content;
  
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  border: 2px dashed var(--colorANURed);
  background: var(--colorWhite);
  border-radius: .5em;
}

#png-sequence-controls #easings-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: .5em;
}

#easings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 22em;
  gap: 1em;
}

#easings .easing-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  cursor: pointer;
  pointer-events: all;
  gap: .5em;

  filter: blur(2px);
  user-select: none;
  transition: all 200ms ease;
}

#easings .easing-container.active {
  filter: none;
}

#easings .easing-container.active > p {
  font-weight: 800;
}

#easings .easing-container img {
  width: 6em;
  height: 8em;

  margin-bottom: -1.5em;
  object-fit: fill;
  border: none;
}

#easings .easing-container p {
  font-size: 1rem;
  font-weight: 400;
}

#easings button:active {
  border: 1px solid black;
}

@media only screen and (max-width: 850px) {
  #png-sequence-controls-container {
    top: 1em;
    right: 50%;
    left: unset; 

    flex-direction: column;

    transform: translate(50%, calc(-100% + 1em));
  }

  #png-sequence-controls-container.active {
    transform: translate(50%, 0);
  }

  .png-sequence-controls-toggle {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .png-sequence-controls-toggle.active {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
