#app {
  --slideOffset: 2em;
}

.png-sequence.slide {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;

  width: calc(100vw - 2 * var(--slideOffset));
  height: auto;
  min-height: 60vh;
  max-height: calc(100vh - var(--slideOffset) * 2);
  margin: var(--slideOffset);
  border-radius: 2em;
  background: var(--colorANURed);

  object-fit: cover;

  transition: top 500ms var(--easeInOut) 0s;
}

.png-sequence .slide-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;

  padding: 2em;

  z-index: 10;
}

.png-sequence .slide-footer p {
  width: 25em;
  color: var(--colorTextOnDark);
  margin: 0;
}

.png-sequence .slide-footer button {
  width: fit-content;
  height: fit-content;
  padding: 1em 1.5em;
  
  font-family: 'Satoshi-Bold';
  font-size: .9rem;
  font-weight: 400;
  color: var(--colorANURed);
  background: var(--colorWhite);
  border: 1px solid var(--colorWhite);
  border-radius: 2em;
  text-align: center;

  cursor: pointer;
  transition: all 250ms var(--easeInOut);
}

.png-sequence .slide-footer button:hover {
  background-color: black;
  border: 1px solid black;
}

.png-sequence #scroll-sequence {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: 2em;
  object-position: center;
  object-fit: cover;

  animation: fadeIn 500ms var(--easeInOut);
}

.png-sequence #teaser {
  position: absolute;
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  object-position: center;
  border-radius: 2em;
}

.png-sequence .play-button {
  display: flex;
  position: absolute;
  right: 0;

  margin: 2em;
  padding: .5em;

  font: unset;
  font-size: 1rem;
  
  width: fit-content;
  height: fit-content;
  background: none;

  border: 2px solid var(--colorWhite);
  border-radius: 10em;
  z-index: 10;

  cursor: pointer;
  transition: all 250ms var(--easeInOut);
}

.png-sequence .play-button .cls-1 {
  fill: var(--colorWhite);
  transition: all 250ms var(--easeInOut);
}

.png-sequence .play-button i {
  display: inline-block;
  width: 3em;
  height: 3em;
}

.png-sequence .play-button:hover {
  background: black;
  border-color: black;
}

.png-sequence .play-button:hover .cls-1 {
  fill: var(--colorANURed);
}

@media only screen and (max-width: 1050px) {
  .slide-footer {
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .png-sequence .slide-footer p {
    width: 100%;
  }
}