#app {
  --featureGap: 6rem;
  --featureContentGap: 20rem;
  --productFeatureWidth: 30rem;
  --productFeatureHeight: 30rem;
  --productFeatureBorderRadius: 2rem;
  --productFeatureItemGap: 10rem;
  --productFeatureBodyTextSize: 1.3rem;
  --productFeatureTitleTextSize: 1.5rem;
  --productFeatureSubTitleTextSize: 2.2rem;
}

#product-container {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  top: calc(var(--navbarHeight));
  
  gap: var(--productFeatureItemGap);
  z-index: 10;
  visibility: visible;
}

#product-container.hidden {
  visibility: hidden;
}

#product-container *:not(#sequence-container, #sequence-container *, .slide, .slide *, .marquee, .marquee *, .splide, .splide *) {
  transition: all 250ms var(--easeInOut);
}

#product-container .hidden:not(hr) {
  opacity: 0;
}

#product-container hr {
  transition: width 1000ms var(--easeInOut) !important;
}

#product-container hr.collapsed {
  width: 0;
}

.feature {
  color: var(--colorTextPrimary);
}

.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--productFeatureWidth) * 2 + var(--featureGap));
  padding: 0;
  gap: var(--featureGap);
}

.feature .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 3rem;
}

.feature .title h4 {
  font-family: 'Satoshi-Bold';
  font-size: var(--productFeatureTitleTextSize);
  margin-bottom: -.3rem;
  white-space: nowrap;
}

.feature .title hr {
  width: 100%;
  height: 2px;
  background: var(--colorTextPrimary);
  border-radius: 4px;
}

.feature .content {
  display: flex;
  flex-direction: column;
  gap: var(--featureContentGap);
  width: 100%;
}

.feature .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feature h2 {
  font-size: var(--productFeatureSubTitleTextSize);
}

.feature p {
  font-size: var(--productFeatureBodyTextSize);
  width: calc(var(--productFeatureWidth));
}

.feature .placeholder {
  overflow: hidden;
  user-select: none;

  color: var(--colorTextOnLight);
}

.feature[feature="intro"] {
  flex-direction: column;
}

.feature[feature="intro"] .title-container {
  width: calc(2 * var(--productFeatureWidth));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature[feature="intro"] h2 {
  font-family: 'Satoshi-Regular';
  font-size: 4.2rem;
  text-align: center;
}

.feature[feature="intro"] h5 {
  font-size: 1.5rem;
  font-family: 'Satoshi-Light';
}

.feature[feature="intro"] .trailer-container {
  position: relative;
  display: flex;
  width: calc(2 * var(--productFeatureWidth) + var(--featureGap));
}

.feature[feature="intro"] #trailer {
  width: 100%;
  border-radius: var(--productFeatureBorderRadius);

  transition: all 250ms var(--easeInOut);
}

.feature[feature="intro"] .play-button {
  display: flex;
  position: absolute;
  right: 2em;
  bottom: 2em;

  padding: .5em;

  font: unset;
  font-size: 1rem;
  
  width: fit-content;
  height: fit-content;
  background: none;

  border: 2px solid var(--colorWhite);
  border-radius: 10em;
  z-index: 10;

  cursor: pointer;
  transform: translateX(0), translateY(0);
  transition: all 500ms var(--easeInOut) !important;
}

.feature[feature="intro"] .play-button.virginTrailer {
  right: unset;
  bottom: unset;
  left: 50%;
  top: 50%;

  border-width: 4px;
  backdrop-filter: blur(10px);

  transform: translate(-50%, -50%);
}

.feature[feature="intro"] .play-button .cls-1 {
  fill: var(--colorWhite);
  transition: all 250ms var(--easeInOut) !important;
}

.feature[feature="intro"] .play-button i {
  display: inline-block;
  width: 3em;
  height: 3em;
  transition: all 250ms var(--easeInOut) !important;
}

.feature[feature="intro"] .play-button.virginTrailer i {
  width: 6rem;
  height: 6rem;
}

.feature[feature="intro"] .play-button:hover {
  background: black;
  border-color: black;
}

.feature[feature="build-and-features"] {
  align-items: start;
}

.feature[feature="build-and-features"] .case-materials {
  display: flex;
  flex-direction: column;
  gap: calc(var(--featureGap) / 2);
  width: 100%;
}

.feature[feature="build-and-features"] .case-materials .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  height: var(--productFeatureHeight);
  aspect-ratio: 1;

  transition-duration: 400ms !important;
}

.feature[feature="build-and-features"] .case-materials .inner-container {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 1rem;

  height: 100%;
  overflow: hidden;

  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  transition-duration: 400ms !important;
}

.feature[feature="build-and-features"] .case-materials .inner-container .placeholder, .feature[feature="build-and-features"] .case-materials .inner-container .caption {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Satoshi-Regular';
  font-size: 1.5rem;

  background-color: lightgray;
  border-radius: calc(var(--productFeatureBorderRadius) / 2);
  transition: all 400ms var(--easeInOut), color 600ms var(--easeInOut) !important;

  width: 100%;
}

/* First inner grid container */

.feature[feature="build-and-features"] .case-materials .inner-container:first-of-type .placeholder {
  min-height: 100%;
}

.feature[feature="build-and-features"] .case-materials .inner-container:first-of-type .caption {
  min-height: 0;
  background-color: var(--colorANURed);
  color: var(--colorTransparent);
}

.feature[feature="build-and-features"] .case-materials .inner-container:first-of-type:hover > .placeholder {
  margin-top: calc(-1 * var(--productFeatureHeight) - 1rem);
}

.feature[feature="build-and-features"] .case-materials .inner-container:first-of-type:hover > .caption {
  min-height: 100%;
  color: var(--colorTextOnDark);
}

/* Second inner grid container */

.feature[feature="build-and-features"] .case-materials .inner-container:nth-of-type(2) .caption {
  min-height: 0;
  background-color: var(--colorANURed);
  color: var(--colorTransparent);
  margin-top: -1rem;
}

.feature[feature="build-and-features"] .case-materials .inner-container:nth-of-type(2) .placeholder {
  min-height: 100%;
}

.feature[feature="build-and-features"] .case-materials .inner-container:nth-of-type(2):hover > .caption {
  min-height: 100%;
  margin-top: 0;
  color: var(--colorTextOnDark);
}

.feature[feature="build-and-features"] .rubber-feet {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  aspect-ratio: 3;

  box-sizing: border-box;
  background: none;

  border: 12px solid black;
  border-radius: 20rem;
}

.feature[feature="build-and-features"] .rubber-feet .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature[feature="build-and-features"] .rubber-feet .text p {
  width: 80%;
  text-align: center;
}

.feature[feature="build-and-features"] .numpad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: calc(var(--featureGap) / 2);

  width: 100%;
}

.feature[feature="build-and-features"] .numpad .switcheroo.hidden {
  grid-template-columns: 75% 25%;
}

.feature[feature="build-and-features"] .numpad .switcheroo {
  display: grid;
  grid-template-columns: 75% 25%;
  
  border-radius: calc( var(--productFeatureBorderRadius) / 2);
  gap: calc(var(--productFeatureBorderRadius) / 6);
  overflow: hidden;

  width: 100%;
}

.feature[feature="build-and-features"] .numpad .switcheroo:hover {
  grid-template-columns: 25% 75%;
}

.feature[feature="build-and-features"] .numpad .switcheroo:hover .placeholder:not(.numpad) {
  /* Switch the src property to numpad image in the future */
  grid-column: 2/2;
}

.feature[feature="build-and-features"] .numpad .switcheroo:hover .placeholder.numpad {
  /* Switch the src property to keyboard image in the future */
  grid-column: 1/2;
}

.feature[feature="build-and-features"] .numpad .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 1;
  grid-column: 1/2;

  font-family: 'Satoshi-Regular';
  font-size: 1.5rem;

  height: calc(.8 * var(--productFeatureHeight));
  width: 100%;
  background-color: lightgray;
}

.feature[feature="build-and-features"] .numpad .placeholder.numpad {
  grid-row: 1;
  grid-column: 2/2;
}

.feature[feature="build-and-features"] .layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: calc(var(--featureGap) / 2);
  width: 100%;
}

.feature[feature="build-and-features"] .layout .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Satoshi-Regular';
  font-size: 1.5rem;

  width: 100%;
  height: var(--productFeatureHeight);

  background-color: lightgray;
  border-radius: calc(var(--productFeatureBorderRadius) / 2);
}

.feature[feature="typing-experience"] .typing-angle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: calc(var(--featureGap) / 2);
  width: 100%;
}

.feature[feature="typing-experience"] .typing-angle .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Satoshi-Regular';
  font-size: 1.5rem;

  width: 100%;
  height: var(--productFeatureHeight);

  background-color: lightgray;
  border-radius: calc(var(--productFeatureBorderRadius) / 2);
}

.feature[feature="typing-experience"] .mounting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feature[feature="specifications"] .specifications {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  
  max-width: 100%;
  padding: calc(var(--featureGap) / 2);

  background: var(--colorANURed);
  border-radius: calc(var(--productFeatureBorderRadius) / 2);
}

.feature[feature="specifications"] .specification {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  margin: calc(var(--featureGap) / 2) 0;
}

.feature[feature="specifications"] .specifications .title {
  justify-content: start;
  font-family: 'Satoshi-Black';
  font-size: 1.1rem;
}

.feature[feature="specifications"] .specifications p {
  width: unset;
  font-family: 'Satoshi-Medium';
  font-size: 1.1rem;
}


@media only screen and (min-width: 2200px) {
  #app {
    --productFeatureWidth: 35rem;
    --productFeatureHeight: 35rem;
  }
}

@media only screen and (max-width: 1250px) {
  #app {
    --productFeatureWidth: 25rem;
    --productFeatureHeight: 25rem;
    --productFeatureBodyTextSize: 1rem;
    --featureGap: 6rem;
  }
}