#app {
  --scrollIndicatorSize: 3.5em;
}

#scroll-indicator {
  position: absolute;

  left: calc(50% - var(--scrollIndicatorSize) / 2);

  width: var(--scrollIndicatorSize);
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;

  z-index: 100;

  overflow: hidden;
}