/* LIBRARIES */
@import './helpers/normalize.css';
@import './helpers/animations.css';
@import './helpers/lenis.css';

/* FONTS */
@import './fonts/anunnaki.css';
@import './fonts/satoshi.css';

/* CHILD COMPONENTS */
@import '../css/components/LoadingSpinner.css';

#app, body {
  --colorDark: #17191a;
  --colorLight: #FAF9F6;
  --colorANURed: #EC1C27;
  --colorWhite: #FAF9F6;
  --colorTextOnLight: var(--colorDark);
  --colorTextOnDark: var(--colorLight);
  --colorTextPrimary: var(--colorTextOnLight);
  --colorTextSecondary: #1d1f20;
  --colorTextDisabled: #676d70;
  --colorIntersecting: #0f57f4;
  --colorTransparent: rgba(0, 0, 0, 0);

  /* COMPONENT SPECIFIC COLORS */
  --colorBackground: var(--colorLight);

  --colorNavbar: var(--colorANURed);
  --colorNavbarShadow: var(--colorTextOnLight);
  --colorNavbarHomeButton: var(--colorLight);
  --colorNavbarButton: var(--colorTextOnDark);
  --colorNavbarButtonHover: var(--colorTextOnLight);
  --colorNavbarButtonActive: var(--colorNavbarButtonHover);

  --colorScrollArrowFill: var(--colorLight);
  --colorScrollArrowOutline: var(--colorANURed);

  --colorFooterBackground: rgb(230, 229, 226);

  --colorEdgeFade: rgba(250, 249, 246, 255);

  /* GLOBAL VALUES */
  --gridCellSize: 2rem;
  --cellFontSize: calc(var(--gridCellSize) * .6);
  --easeInOut: cubic-bezier(.33,.16,.32,.99);

  text-decoration: none;
}

#app.darkmode, body:has(#app.darkmode) {
  --colorBackground: var(--colorDark);
  --colorTextPrimary: var(--colorTextOnDark);
  --colorTextSecondary: rgb(200, 200, 200);

  /* COMPONENT SPECIFIC COLORS */
  --colorNavbar: rgb(39, 39, 39);
  --colorNavbarShadow: black;
  --colorNavbarButton: var(--colorTextOnDark);
  --colorNavbarButtonHover: var(--colorANURed);

  --colorFooterBackground: rgb(20, 22, 23);

  --colorEdgeFade: rgba(23, 25, 26, 255);
}

html, body {
  width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  background: var(--colorBackground);

  transition: all 250ms var(--easeInOut);
}

body::-webkit-scrollbar {
  display: none !important;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  gap: calc(2 * var(--featureGap));
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  width: 100vw;
  margin: 0;
  padding: 0;
}

#main.hidden {
  visibility: hidden;
}

h1 {
  font-family: Anunnaki;
}

h2, h3, h4, h5, h6 {
  font-family: 'Satoshi-Bold';
}

p, a, li {
  font-family: 'Satoshi-Regular';
}

p, a, li, h1, h2, h3, h4 {
  margin: 0;
}

#product-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 0 2rem;

  height: calc(40vh - var(--navbarHeight) - var(--slideOffset) - 2rem);
  top: var(--navbarHeight);
}

#product-header-container .header {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  gap: 0;

  transition: all 350ms var(--easeInOut);
  -webkit-transition: all 350ms var(--easeInOut);
}

#product-header-container .header:has(.active) {
  gap: 3em;
}

#product-header-container .header .intro {
  width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-left: 0;

  transition: all 350ms var(--easeInOut);
  -webkit-transition: all 350ms var(--easeInOut);
}

#product-header-container .header .intro.active {
  width: 100%;
}

#product-header-container .header .intro.active h3 {
  transform: translateY(0);
  opacity: 1;
}

#product-header-container .header .intro h3 {
  font-family: 'Satoshi-Regular';
  align-self: flex-end;
  color: var(--colorTextPrimary);

  margin: .5rem 0;

  transform: translateY(-100%);
  opacity: 0;

  transition: all 450ms var(--easeInOut);
}

#product-header-container .header hr {
  width: 100%;
  height: 2px;
  background: var(--colorTextPrimary);
  border-radius: 4px;

  animation: growIn .8s var(--easeInOut) 1;
  transition: all 100ms var(--easeInOut);
}

#product-header-container .header h1 {
  font-family: Anunnaki;
  font-size: 8rem;
  color: var(--colorTextPrimary);

  margin-bottom: -.3em;

  animation: slideInFromRight .8s var(--easeInOut) 1;

  transition: all 100ms var(--easeInOut);
}

@media only screen and (max-width: 1500px) {
  #product-header-container .header h1 {
    font-size: 6rem !important;
  }

  #product-header-container .header:has(.active) {
    gap: 1em;
  }
}

@media only screen and (max-width: 1050px) {
  #product-header-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  #product-header-container .header:has(.active) {
    gap: 2em;
  }

  #product-header-container .header h1 {
    text-align: center;
    font-size: 11vw !important;
  }

  #product-header-container .header .intro {
    padding-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  #product-header-container .header h1 {
    font-size: 10.5vw !important;
  }
}