<script>
  import { onMount } from 'svelte';
  import { quintInOut, quintOut } from 'svelte/easing';
  import { slide } from 'svelte/transition';
  import { importComponentMedia } from '$lib/js/helper.js';

  export let product = "";
  let images = importComponentMedia(product, 'carousel');

  let carouselContainerRef;

  let currentIndex = 0;
  let interval;

  const next = () => {
    currentIndex = (currentIndex + 1) % images.length;
  };

  const prev = () => {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
  };

  onMount(() => {
    interval = setInterval(next, 4000);
    return () => clearInterval(interval);
  });

</script>

<div class="carousel" bind:this={carouselContainerRef}>
  <div class="images" style="transform: translateX(calc(-1 * {currentIndex} * (var(--productFeatureWidth) + var(--carouselGap))));">
    {#each images as image, index}
      <img src={image} alt="Carousel Image {index + 1}" class="image" transition:slide={{duration: 200, easing: quintInOut}} />
    {/each}
  </div>
  <div class="indicators">
    {#each images as image, index}
      <div class="indicator" class:active={index === currentIndex} on:click={() => {currentIndex = index; clearInterval(interval); interval = setInterval(next, 4000);}}></div>
    {/each}
  </div>
</div>

<style>
  @import '../css/components/Carousel.css';
</style>