<script>
  import shuffleLetters from 'shuffle-letters';
  import { onMount } from 'svelte';

  onMount(() => {
    const heading = document.querySelector('#contact-container h1');
    shuffleLetters(heading, {
      text: heading.innerText,
      iterations: 10,
      fps: 30
    });
  });
</script>

<div id="contact-container">
  <h1>CONTACT</h1>
  <hr>
  <h2>Work in progress</h2>
</div>


<style scoped>
  #contact-container {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: calc(100vh - var(--navbarHeight));
    top: var(--navbarHeight);
  }

  h1 {
    color: black;
    font-size: 3rem;
    font-family: Anunnaki;
  }

  hr {
    width: 19rem;
    height: 3px;
    background: black;
    border-radius: 4px;

    animation: growInContact .4s ease-in-out;
  }

  h2 {
    margin-top: 2rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Satoshi-Medium';
  }
</style>