<script>
  import LeftChevron from '$lib/components/svg/LeftChevron.svelte';
  import RightChevron from '$lib/components/svg/RightChevron.svelte';

  let fadingCarouselRef;
  let pillRef;
  let currentIndex = 1;
  let prevIndex = 0;
  let nextIndex = 2;

  let slides = [];

  const goToPrev = () => {
    currentIndex > 0 ? goToIndex(currentIndex - 1) : goToIndex(slides.length - 1);
  };

  const goToNext = () => {
    currentIndex < 2 ? goToIndex(currentIndex + 1) : goToIndex(0);
  };

  const goToIndex = index => {
    currentIndex = index;
    prevIndex = currentIndex - 1;
    nextIndex = currentIndex + 1;

    for (let i = 0; i < slides.length; i++) {
      slides[i].classList.remove('active');
      slides[i].classList.remove('prev');
      slides[i].classList.remove('next');
    }

    if (nextIndex == slides.length)
      nextIndex = 0;

    if (prevIndex == -1)
      prevIndex = slides.length - 1;

    slides[currentIndex].classList.add('active');
    slides[prevIndex].classList.add('prev');
    slides[nextIndex].classList.add('next');
  };

  const getText = (index) => {
    switch (index) {
      case 0:
        return 'WEIGHT OUTSIDE';
      case 1:
        return 'PLATE';
      case 2:
        return 'WEIGHT INSIDE';
    }
  };


</script>

<style>
  @import '../css/components/FadingCarousel.css';
</style>

<div class="fading-carousel" 
  bind:this={fadingCarouselRef}>
  <h4 class="title">PLATE & WEIGHT</h4>
  <div class="slides">
    <div class="slide prev" bind:this={slides[0]}>
      <div class="text">
        <p>This section is to describe the design choices behind the plate and weight, including the material choice and how they enhance the sound and feel.</p>
      </div>
      <div class="placeholder">[WEIGHT_OUTSIDE]</div>
    </div>
    <div class="slide active" bind:this={slides[1]}>
      <div class="text">
        <p>This section is to describe the design choices behind the plate and weight, including the material choice and how they enhance the sound and feel.</p>
      </div>
      <div class="placeholder">[PLATE]</div>
    </div>
  
    <div class="slide next" bind:this={slides[2]}>
      <div class="text">
        <p>This section is to describe the design choices behind the plate and weight, including the material choice and how they enhance the sound and feel.</p>
      </div>
      <div class="placeholder">[WEIGHT_INSIDE]</div>
    </div>

  </div>

  <div class="overlay"></div>

  <div class="buttons">
    <button class="btn-prev" on:click={() => goToPrev()}><LeftChevron/></button>
    <button class="btn-next" on:click={() => goToNext()}><RightChevron/></button>
  </div>

  <div class="pill" bind:this={pillRef}>{getText(currentIndex)}</div>
</div>