<script>
  
  import { fade, slide } from 'svelte/transition';
  import { importComponentMedia, getEmInPx, getCoords } from '$lib/js/helper.js';
  import { lenis } from '$lib/js/stores';
  import { onMount } from 'svelte';
  import { quintInOut } from 'svelte/easing';
  
  export let product = "";

  let scrollerContainerRef;
  let stickyStartY;
  let stickyHeight;

  let isSticky = false;
  
  const featuresImgs = importComponentMedia(product, "feature-scroller");
  let features = [
    {name: 'Leafspring brass plate', img: featuresImgs[0]},
    {name: 'Gasket mount', img: featuresImgs[1]}, 
    {name: 'Southpaw numpad', img: featuresImgs[2]}, 
    {name: 'Polished brass weight', img: featuresImgs[3]}, 
    {name: 'Daughterboard', img: featuresImgs[4]},
    {name: 'Multi-foam design', img: featuresImgs[5]}
  ];
  let currentFeature = features[0];

  onMount(() => {
    // const observer = new IntersectionObserver(
    //   ([entry]) => {
    //     if (entry.isIntersecting) {
    //       stickyStartY = window.scrollY;
    //       stickyHeight = entry.target.offsetHeight;
    //       isSticky = true;
    //     } else {
    //       isSticky = false;
    //     }
    //   },
    //   { threshold: [.99], rootMargin: "-1px 0px 0px 0px" }
    // );

    // observer.observe(scrollerContainerRef);

    // $lenis.on('scroll', ({scroll, direction, velocity}) => {
    //   if (scrollerContainerRef && isSticky) {
    //     const scrollProgress = (scroll - stickyStartY) / stickyHeight;
    //     const adjustedProgress = scrollProgress * 2;
    //     const clampedProgress = Math.max(0, Math.min(1, adjustedProgress));

    //     const index = Math.floor(clampedProgress * (features.length - 1));
    //     currentFeature = features[index];
    // // TODO: Find a solution for this.
    //     if (index >= features.length - 1) {
    //       isSticky = false;
    //     } else {
    //       isSticky = true;
    //     }
    //   }
    // });

  });

</script>

<style>
  @import '../css/components/FeatureScroller.css';
</style>

<div id="feature-scroller" bind:this={scrollerContainerRef}
  class:scrolled={!isSticky}>
  <ul class="text">
    {#each features as feature, i}
      <li 
        class:active={currentFeature == features[i]} 
        index={i} 
        on:click={() => currentFeature = features[i]}>{feature.name}</li>
    {/each}
  </ul>
  <img src={currentFeature.img} alt={currentFeature.name}/>
</div>
