<script>
  import { state, prevState, STATE, darkMode, lenis, currentScrollEasing } from '$lib/js/stores';
  import ANULogo from '$lib/components/svg/ANULogo.svelte';

  const SetPageState = (newState) => {
    $prevState = $state;
    $state = newState;
    if (hamburgerToggled)
      hamburgerToggled = false;
  };
</script>

<style>
  @import '../css/components/Footer.css';
</style>

<section class="footer">
  <div class="info-container">
    <ANULogo />
    <div class="contact-info">
      <hr>
      <a href="mailto:anu.inc@proton.me">E-mail: <span>anu.inc@proton.me</span></a>
      <a href="tel:+46705521402">Tel: <span>+46705521402</span></a>
    </div>
  </div>
  <div class="footer-items">
    <div class="list">
      <button name='home' class='nav-btn header' on:click={(event) => SetPageState(event.target.name)}>HOME</button>
      <button name='about' class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>ABOUT</button>
      <button name='product' class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>PRODUCT</button>
    </div>
    <div class="list">
      <span class='header'>CONTACT</span>
      <a class='nav-btn' href="https://www.instagram.com/ANUInc/">INSTAGRAM</a>
      <a class='nav-btn' href="https://www.discord.com/">DISCORD</a>
    </div>
  </div>
  <div class="bottom-piece">
    <div class="copyright">
      &#169;2024 ANU Inc. All rights reserved.
    </div>
  </div>
</section>