<script>
  import { state, STATE, prevState } from '$lib/js/stores';
  import { onMount } from 'svelte';
  
  import shuffleLetters from 'shuffle-letters';
  import PNGSequenceFirstFrame from '$lib/img/InannaN60/scroll-sequence/0.webp';
  
  let homeSlideRef;
  let homeSlideTextRef;
  let loaded = false;

  onMount(() => {
    if ($prevState !== STATE.Product) {
      loaded = true;
    } else {
      homeSlideRef.style.transform = 'none';
      homeSlideRef.style.opacity = '1';
      loaded = false;
    }

    shuffleLetters(homeSlideTextRef, {
      text: homeSlideTextRef.getAttribute('shuffleText'),
      iterations: 2,
      fps: 60,
      onComplete: el => {
        homeSlideTextRef.innerHTML = homeSlideTextRef.innerHTML.replace('$499', '<span>$499</span>');
      }
    });
  });
  

</script>


<div class="slide" class:loaded={loaded} bind:this={homeSlideRef}>
  <img src={PNGSequenceFirstFrame} id="scroll-sequence" alt="" width={innerWidth} height={innerHeight}/>
  
  <div class="slide-footer">
    <p bind:this={homeSlideTextRef} shuffleText="Maximum practicality, high build quality and an impeccable typing experience starting at $499."></p>
    <button on:click={() => $state = STATE.Product}>LEARN&nbsp;MORE</button>
  </div>
</div>


<style scoped>

#app {
  --slideOffset: 2em;
}

.slide {
  position: fixed;
  bottom: 0;
  opacity: .5;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;

  width: calc(100vw - 4em);
  height: auto;
  min-height: 60vh;
  max-height: calc(100vh - var(--navbarHeight) - var(--slideOffset));
  margin: 2em;
  border-radius: 2em;
  background: var(--colorANURed);

  object-fit: cover;

  transition: all 500ms ease;
  transform: translateY(50%);
}

.slide.loaded {
  transform: translateY(0);
  opacity: 1;
}

.slide-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;

  padding: 2em;

  z-index: 10;
}
 
.slide-footer p {
  width: 25em;
  color: var(--colorTextOnDark);
  margin: 0;
}

.slide-footer p span {
  font-family: 'Satoshi-Bold' !important;
}

.slide-footer button {
  width: fit-content;
  height: fit-content;
  padding: 1em 1.5em;
  
  font-family: 'Satoshi-Bold';
  font-size: .9rem;
  font-weight: 400;
  color: var(--colorANURed);
  background: var(--colorWhite);
  border: 1px solid var(--colorWhite);
  border-radius: 2em;
  text-align: center;

  cursor: pointer;
  transition: all 250ms ease;
}

.slide-footer button:hover {
  background-color: black;
  border: 1px solid black;
}

#scroll-sequence {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: 2em;
  object-position: center;
  object-fit: cover;

  animation: fadeIn 500ms ease-in-out;
}


@media only screen and (max-width: 1050px) {
  .slide-footer {
    gap: 1em;
    justify-content: start;
  }
}

@media only screen and (max-width: 850px) {
  .slide-footer p {
    width: 100%;
  }
}

</style>