<script>
  import { onMount } from "svelte";
  import { fade } from 'svelte/transition'; 
  import { quintInOut } from "svelte/easing";
  import { lenis } from '$lib/js/stores';

  let indexScrollerRef, indexScrollerLineRef, indexScrollerCircleRef;

  let fadeInObserver, indexObserver;

  let currentIndex = 0;

  export let index = [];
  export const product = "InannaN60";
  
  onMount(() => {
    fadeInObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry, i) => {
        if (entry.isIntersecting) {

          const indexVisibleItems = parseFloat(getComputedStyle(document.getElementById('app')).getPropertyValue('--indexVisibleItems'));
          const indexItemLineHeightMulti = parseFloat(getComputedStyle(document.getElementById('app')).getPropertyValue('--indexItemLineHeightMulti'));
          const indexItemFontSize = parseFloat(getComputedStyle(document.getElementById('app')).getPropertyValue('--indexItemFontSize'));
          

          // Show all index items (delayed)
          index.forEach((item, i) => {
            setTimeout(() => {
              index[i].visible = true;
            }, 100 * i);
          });

          // Expand the line
          indexScrollerLineRef.style.height = indexVisibleItems * indexItemLineHeightMulti * indexItemFontSize + "rem";
          // Show the circle
          indexScrollerCircleRef.classList.remove('hidden');

        } else {
          // Hide all index items

          index.forEach((item, i) => {
            index[i].visible = false;
          });

          // Fold the line
          indexScrollerLineRef.style.height = '0';
          // Hide the circle
          indexScrollerCircleRef.classList.add('hidden');
        }
        
      });
    }, { threshold: [1] , rootMargin: '0px 0px -50% 0px'});

    
    fadeInObserver.observe(indexScrollerRef);

    indexObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry) => {
      index.forEach(indexItem => indexItem.active = false);
        if (entry.isIntersecting) {
          let indexItem = index.findIndex(item => item.feature === entry.target.getAttribute('feature'));
          currentIndex = indexItem;
        }
      });
    }, { root: null, threshold: [0] , rootMargin: '-50% 0px -50% 0px'});

    document.querySelectorAll('#product-container .feature').forEach((featureEl) => indexObserver.observe(featureEl));
  });

  const indexItemClick = (indexItem) => {
    const el = indexItem.element;
    $lenis.scrollTo(el);
  };

  const getOpacityFromIndex = (index, currentIndex) => {
    const distance = Math.abs(index - currentIndex);
    switch (distance) {
      case 0:
        return 'active';
      case 1:
        return 'ii-from-active';
      case 2:
        return 'iii-from-active';
      case 4:
        return 'iv-from-active';
      case 5:
        return 'v-from-active';
    }
  };
</script>

<style>
  @import '../css/components/IndexScroller.css';
</style>

<div id="index-container" bind:this={indexScrollerRef}>
  {#if index.length > 0}
  <div class="line" bind:this={indexScrollerLineRef}>
    <span class="circle hidden" 
      bind:this={indexScrollerCircleRef} 
      style:top={'calc(var(--indexItemLineHeight) * ' + currentIndex + ')'}></span>
  </div>

  <ul id="index-list">
    {#each index as indexItem, i}
      {#if indexItem.visible}
      <li 
        class={getOpacityFromIndex(i, currentIndex)}
        index={i} 
        transition:fade={{duration: 400, easing: quintInOut}}
        on:click={indexItemClick(indexItem)}>
        {indexItem.title}
      </li>
      {/if}
    {/each}
  </ul>
  {/if}
</div>
