<script>
  import { state, STATE } from '$lib/js/stores';
  import { importComponentMedia } from '$lib/js/helper.js';

  import { onDestroy, onMount } from 'svelte';
  import { getCookie, setCookie } from 'svelte-cookie';

  const loadingSpinnerImgs = importComponentMedia("", "loading-spinner");

  let spinnerRef;
  let spinnerContainerRef;

  let currentFrameIndex = 0;
  let direction = 1; // 1 for forward, -1 for backward
  let spinnerInterval;

  // Preload all the frames into the array
  const preloadFrames = () => {
    for (let i = 0; i < loadingSpinnerImgs.length; i++) {
      let image = new Image();
      image.src = loadingSpinnerImgs[i];
      loadingSpinnerImgs[i] = image;
    }
  }

  const updateSpinnerFrame = () => {
    currentFrameIndex += direction;
    // Reverse the direction whenever the index reaches the end or start of the frames array.
    if (currentFrameIndex >= loadingSpinnerImgs.length - 1 || currentFrameIndex <= 0) 
      direction *= -1;

    if (document.readyState === "complete" && currentFrameIndex >= loadingSpinnerImgs.length - 1) {
      clearInterval(spinnerInterval);
      spinnerContainerRef.classList.add('loaded');
      spinnerRef.classList.add('loaded');
      const spinnerContainerLoadInDuration = getComputedStyle(document.documentElement).getPropertyValue('--loadingSpinnerContainerLoadInDuration');
      const spinnerContainerTransDuration = getComputedStyle(document.documentElement).getPropertyValue('--loadingSpinnerContainerTransDuration');
      setTimeout(() => {
        spinnerContainerRef.classList.add('toNavBar');
        setTimeout(() => {
          spinnerContainerRef.style.width = document.getElementById('nav-container').clientWidth + "px";
          spinnerContainerRef.style.justifyContent = "start";
          setTimeout(() => {
            $state = STATE.Home;
            spinnerContainerRef.classList.add('hide');
            setCookie('firstVisit', true, 7, true);
          }, parseInt(spinnerContainerTransDuration));
        }, parseInt(spinnerContainerTransDuration));
      }, parseInt(spinnerContainerLoadInDuration));
    }
  }

  async function loadingAnim () {
    return new Promise((resolve) => {
      spinnerContainerRef.classList.add('shown');
      setTimeout(() => {
        spinnerRef.classList.add('shown');
        setTimeout(() => {
          spinnerInterval = setInterval(updateSpinnerFrame, 18);
        }, 500);
      }, 500);
    });
  }

  onMount(() => {
    setCookie('visited', true);
    $state = STATE.Loading;
    preloadFrames();
    console.log(getCookie('visited'));
    loadingAnim();
  });

  onDestroy(() => {
    clearInterval(spinnerInterval);
  });

</script>

<div id="loading-spinner-container" bind:this={spinnerContainerRef}>
  <img src={loadingSpinnerImgs[currentFrameIndex].src} id="loading-spinner" alt="Loading" bind:this={spinnerRef} />
</div>