<script>
  import { onDestroy, onMount } from 'svelte';
  import { slide } from 'svelte/transition';
  import { state, prevState, STATE, darkMode } from '$lib/js/stores';
  import { get } from 'svelte/store';
  
  // Media
  import ANUStar from '$lib/components/svg/ANUStar.svelte';
  import { getCookie, setCookie, deleteCookie } from 'svelte-cookie';
  
  let hamburgerRef;
  let mobileMenuRef;

  let loaded = false;

  let scrollDirection;
  let lastScrollY;

  let holdTimer;
  let homeIsHeld = false;
  const holdDuration = 1000;

  let hamburgerToggled = false;

  let unsubscribe;
  
  onMount(() => {
    lastScrollY = window.scrollY;
    scrollDirection = "up";
    
    loaded = true;

    let currentState = $state;

    unsubscribe = state.subscribe(newState => {
      if (newState !== currentState) {
        prevState.set(currentState);
        currentState = newState;
      }
    });

  });

  onDestroy(() => {
    if (unsubscribe) unsubscribe();
  });

  const handleHomeMouseDown = () => {
    homeIsHeld = false;
    holdTimer = setTimeout(() => {
      homeIsHeld = true;
      ToggleDarkMode();
    }, holdDuration);
  };

  const handleHomeMouseUp = () => {
    clearTimeout(holdTimer);
    if (!homeIsHeld) {
      SetPageState(STATE.Home);
    }
    homeIsHeld = false;
  };

  const handleHomeMouseLeave = () => {
    clearTimeout(holdTimer);
    homeIsHeld = false;
  };

  const SetPageState = (newState) => {
    $prevState = $state;
    $state = newState;
    if (hamburgerToggled)
      hamburgerToggled = false;
  };

  const ToggleDarkMode = () => {
    $darkMode = !$darkMode;
    setCookie('darkMode', $darkMode, 7, true);
  };
  
  const handleScroll = () => {
    if (lastScrollY < window.scrollY) {
      scrollDirection = "down";
    } else {
      scrollDirection = "up";
    }
    lastScrollY = window.scrollY;
  };

</script>

<style>
  @import '../css/components/NavigationHeader.css';
</style>

<svelte:window on:scroll={handleScroll} />

<div id='nav-container' class:loaded={loaded} class:active={scrollDirection == "up"} class:hidden={$state == STATE.Loading}>
  <button 
    id='btn-home'
    name='home' 
    class='logo' 
    on:mousedown={handleHomeMouseDown}
    on:mouseup={handleHomeMouseUp}
    on:mouseleave={handleHomeMouseLeave}
    on:touchstart={handleHomeMouseDown}
    on:touchend={handleHomeMouseUp}
    on:touchcancel={handleHomeMouseLeave}>
    <ANUStar/>
  </button>
  
  <div id='nav-items'>
    <button name='contact' class:loaded={loaded} class:active={$state == STATE.Contact} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>CONTACT</button>
    <button name='about' class:loaded={loaded} class:active={$state == STATE.About} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>ABOUT</button>
    <button name='product' class:loaded={loaded} class:active={$state == STATE.Product} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>PRODUCT</button>
  </div>

  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <div id='hamburger' class:active={hamburgerToggled} bind:this={hamburgerRef} on:click={() => (hamburgerToggled = !hamburgerToggled)} role='button' tabindex='0'>
    <span id='top' class='line'></span>
    <span id='mid' class='line'></span>
    <span id='bot' class='line'></span>
  </div>
  {#if hamburgerToggled}
    <div id='mobile-menu' class:active={hamburgerToggled} bind:this={mobileMenuRef} transition:slide={{ duration: 200, axis: 'x' }}>
      <button name='contact' class:active={$state == STATE.Contact} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>CONTACT</button>
      <button name='about' class:active={$state == STATE.About} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>ABOUT</button>
      <button name='product' class:active={$state == STATE.Product} class='nav-btn' on:click={(event) => SetPageState(event.target.name)}>PRODUCT</button>
    </div>
  {/if}
</div>