<script>
  import { onMount } from "svelte";

  let otherCarouselContainerRef;

  export let otherFeatures = [];

  const handleMouseEnter = (index) => {
    otherCarouselContainerRef.style.setProperty('--currentIndex', index);
  }

  const handleMouseLeave = () => {
    otherCarouselContainerRef.style.setProperty('--currentIndex', 0);
  }

</script>

<style>
  @import '../css/components/OtherCarousel.css';
</style>

<div class="other-carousel" bind:this={otherCarouselContainerRef}>
  <div class="text">
    <h2 class="feature-sub-title hidden">OTHER FEATURES</h2>
  </div>
  <div class="container">
    {#each otherFeatures as feature, index}
      <div class="placeholder hidden"
        role="img"
        index={index}
        on:mouseenter={() => handleMouseEnter(index)}
        on:mouseleave={() => handleMouseLeave()}>
        <span>{feature.name}</span>
      </div>
    {/each}
    
  </div>
</div>