<script>
  
  import { fade, slide } from 'svelte/transition';
  import { importComponentMedia, getEmInPx, mobileWidthThreshold } from '$lib/js/helper.js';
  import { onMount } from 'svelte';
  import { quintInOut } from 'svelte/easing';
  import { lenis } from '$lib/js/stores';
  import ScrollIndicator from './ScrollIndicator.svelte';
  
  export let product = "";

  const frames = importComponentMedia(product, 'scroll-sequence');
  const teaserSrc = importComponentMedia(product, 'teaser');

  let scrollSeqRef;
  let slideRef;
  let teaserRef;
  let teaserIsPlaying = true;

  let currentFrameIndex = 0;

  const preloadFrames = () => {
    for (let i = 0; i < frames.length; i++) {
      let image = new Image();
      image.src = frames[i];
      frames[i] = image;
    }
  }

  onMount(() => {
    preloadFrames();

    $lenis.on('scroll', ({scroll, direction}) => {
      if (slideRef) {
        const maxHeight = parseInt(getComputedStyle(slideRef).maxHeight);
        const minHeight = parseInt(getComputedStyle(slideRef).minHeight);
        const slideOffset = getEmInPx(parseFloat(getComputedStyle(slideRef).getPropertyValue('--slideOffset')), slideRef);
        const isScrollingDown = direction > 0;

        let magnetizeMargin = document.getElementById("product-header-container").clientHeight;
        let slideOffsetFromTop = slideOffset;

        scrollRatio = Math.min(Math.max(scroll / ((window.innerHeight * .4) - (slideOffset * 2)), 0), 1);
        currentFrameIndex = Math.floor(scrollRatio * (frames.length - 1));

        if (isScrollingDown) {
          const newHeight = minHeight + window.scrollY;
          slideRef.style.height = `${newHeight}px`;
        } else {        
          const newHeight = Math.max(minHeight + window.scrollY, window.scrollY);
          slideRef.style.height = `${newHeight}px`;
          slideRef.style.position = "sticky";
        }

        if (teaserRef) {
          if (scroll > (window.innerHeight * .4) - (slideOffset * 2) + magnetizeMargin / 4) {
            slideRef.style.position = "relative";
          }
          slideRef.style.top = `${slideOffsetFromTop}px`;
        } else {
          slideRef.style.top = 'unset';
        }
      }
    });
  });


  $: innerWidth = 0;
  $: innerHeight = 0;
  $: scrollRatio = 0;

</script>

<style>
  @import '../css/components/PNGSequence.css';
  /* @import '../css/components/PNGSeqControls.css';  */
</style>

<svelte:window bind:innerWidth bind:innerHeight></svelte:window>

<!-- <div id="png-sequence-controls-container" class:active={controlsActive}>
  <div id="png-sequence-controls">
    <p>Scroll multiplier: <b>{scrollMulti}</b></p>
    <input id="scrollMulti" name="PNG sequence scroll multiplier" type="range" min="1" max="10" step="1" bind:value={scrollMulti}/>
    <p>Scroll ratio: <b>{Math.round(scrollRatio * 100) / 100}</b></p>
  
    <div id="easings-container">
      <p>Easing:</p>
      <div id="easings">
        {#each Object.entries(easings) as [_name, easing]}
          <div class="easing-container" on:click={() => selectEasing(easing)} class:active={easing.name === currentEasing.name}>
            <img src={easing.thumb} alt={easing.name}/>
            <p>{easing.name}</p>
          </div>
        {/each}
      </div>
    </div>
  </div>
  <div class="png-sequence-controls-toggle" class:active={controlsActive} on:click={() => controlsActive = !controlsActive}></div>
</div> -->


<div class="slide png-sequence" bind:this={slideRef}>
  <img bind:this={scrollSeqRef} src={frames[currentFrameIndex].src} id="scroll-sequence" alt="" width={innerWidth} height={innerHeight}/>
  {#if currentFrameIndex == frames.length - 1 && window.innerWidth > mobileWidthThreshold}
    <video bind:this={teaserRef} id="teaser" transition:fade={{ duration: 200 }}
    autoplay
    playsinline
    loop
    muted
    on:play={() => teaserIsPlaying = true}
    on:pause={() => teaserIsPlaying = false}>
      <source
        src={teaserSrc[0]}
        type="video/mp4"
        />
      <source
        src={teaserSrc[1]}
        type="video/webm"
        />
    </video>
    <button class="play-button" class:active={teaserIsPlaying} transition:fade={{duration: 200, easing: quintInOut}} on:click={() => teaserRef.paused ? teaserRef.play() : teaserRef.pause()}>
      <i>
        {#if teaserIsPlaying}
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
            <path class="cls-1" d="M7,19h2c.6,0,1-.4,1-1V6c0-.6-.4-1-1-1h-2c-.6,0-1,.4-1,1v12c0,.6.4,1,1,1ZM15,19h2c.6,0,1-.4,1-1V6c0-.6-.4-1-1-1h-2c-.6,0-1,.4-1,1v12c0,.6.4,1,1,1Z"/>
          </svg>
        {:else}
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
            <path class="cls-1" d="M8,7v10.3c0,.8.9,1.3,1.5.8l8.1-5.2c.6-.4.6-1.3,0-1.7l-8.1-5.2c-.7-.4-1.5,0-1.5.8Z"/>
          </svg>
        {/if}
      </i>
    </button>
  {/if}
  
  <div class="slide-footer">
    <p>If you are interested in participating in the group buy, please fill out the interest check form.</p>
    <button>FILL&nbsp;FORM</button>
    {#if currentFrameIndex <= 20}
      <ScrollIndicator  />
    {/if}
  </div>
  
</div>
