<script>
  import { onMount } from 'svelte';
  import { state, STATE } from '$lib/js/stores';
  import { importComponentMedia } from '$lib/js/helper.js';
  import shuffleLetters from 'shuffle-letters';

  // Media
  import PLATEMATERIAL from '$lib/img/InannaN60/PLATE_MATERIAL.webp';
  import NUMPAD from '$lib/img/InannaN60/NUMPAD.webp';
  import RUBBERFEET from '$lib/img/InannaN60/RUBBER_FEET.webp';
  import LAYOUT from '$lib/img/InannaN60/LAYOUT.webp';
  import ANGLE from '$lib/img/InannaN60/ANGLE.webp';

  // Components
  import PNGSequenceComponent from '$lib/components/PNGSequence.svelte';
  import FeatureScroller from '$lib/components/FeatureScroller.svelte';
  import IndexScroller from '$lib/components/IndexScroller.svelte';
  import Carousel from '$lib/components/Carousel.svelte';
  import FadingCarousel from '$lib/components/FadingCarousel.svelte';
  import OtherCarousel from '$lib/components/OtherCarousel.svelte';

  export let product = "";

  const trailerSrc = importComponentMedia(product, 'trailer');

  let trailerRef;

  let trailerIsPlaying = false;
  let trailerFirstTimePlaying = true;

  let fadeInObserver;
  let hiddenElements;

  let indexItems = [];
  let otherFeatures = [
    {name: 'DAUGHTERBOARD'},
    {name: 'CENTERED USB'},
    {name: 'ROUNDED EDGES (G2 CURVATURE)'},
    {name: 'SHOEBOX FIT'}
  ];

  onMount(() => {

    hiddenElements = document.querySelectorAll('#product-container *');
    let numpadElements = document.querySelectorAll('#product-container .feature[feature="build-and-features"] .numpad *');

    fadeInObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Shuffle animation on body text
          if (entry.target.tagName == "P" && !entry.target.classList.contains('shuffled')) {
            entry.target.classList.add('shuffled');
            shuffleLetters(entry.target, {
              text: entry.target.innerText,
              iterations: 2,
              fps: 60
            });
          }

          // Longer shuffle animation for feature titles
          if (entry.target.matches('.feature .title h4') && !entry.target.classList.contains('shuffled')) {
            entry.target.classList.add('shuffled');
            shuffleLetters(entry.target, {
              text: entry.target.innerText,
              iterations: 10,
              fps: 40,
              onComplete: el => {
                if (el.nextElementSibling.classList.contains("collapsed"))
                  el.nextElementSibling.classList.remove("collapsed");
              }
            });
          }

          if (entry.target.classList.contains('hidden'))
            entry.target.classList.remove('hidden');
        }
      });
    }, { rootMargin: '0px 0px -1% 0px' });

    hiddenElements.forEach((el) => fadeInObserver.observe(el));

    let numpadObserver = new IntersectionObserver((entries, o) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && entry.target.classList.contains('hidden')) {
          entry.target.classList.remove('hidden');
        }
      });
    }, { rootMargin: '0px 0px -50% 0px' });

    numpadElements.forEach((el) => numpadObserver.observe(el));

    document.querySelectorAll('#product-container .feature').forEach((el) => {
      indexItems.push({
        feature: el.getAttribute('feature'),
        title: el.getAttribute('feature-title'),
        active: false,
        visible: false,
        element: el
      });
    });
  });

  const handleTrailerPlayPause = () => {
    if (trailerFirstTimePlaying) {
      trailerRef.play();
      trailerFirstTimePlaying = false;
    } else {
      trailerRef.paused ? trailerRef.play() : trailerRef.pause();
    }
  }

</script>

<style scoped>
  @import '../css/components/Product.css';
</style>

<div id="product-container" class:hidden={$state == STATE.Loading}>

  <PNGSequenceComponent product={product} />
  <IndexScroller product={product} index={indexItems} />

  <div class="feature" feature="intro" feature-title="INTRO">
    <div class="title-container">
      <h2 class="hidden">AMAZING PRODUCT THAT WE THINK YOU WILL LIKE</h2>
      <h5 class="hidden">Some small text to further describe what this product is about.</h5>
    </div>
    <div class="trailer-container hidden">
      <video id="trailer"
      playsinline
      loop
      muted
      bind:this={trailerRef}
      class:virginTrailer={trailerFirstTimePlaying}
      on:play={() => trailerIsPlaying = true}
      on:pause={() => trailerIsPlaying = false}>
        <source
          src={trailerSrc[0]}
          type="video/mp4"
          />
        <source
          src={trailerSrc[1]}
          type="video/webm"
          />
      </video>
      <button class="play-button" class:virginTrailer={trailerFirstTimePlaying} class:active={trailerIsPlaying} on:click={handleTrailerPlayPause}>
        <i>
          {#if trailerIsPlaying}
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
              <path class="cls-1" d="M7,19h2c.6,0,1-.4,1-1V6c0-.6-.4-1-1-1h-2c-.6,0-1,.4-1,1v12c0,.6.4,1,1,1ZM15,19h2c.6,0,1-.4,1-1V6c0-.6-.4-1-1-1h-2c-.6,0-1,.4-1,1v12c0,.6.4,1,1,1Z"/>
            </svg>
          {:else}
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
              <path class="cls-1" d="M8,7v10.3c0,.8.9,1.3,1.5.8l8.1-5.2c.6-.4.6-1.3,0-1.7l-8.1-5.2c-.7-.4-1.5,0-1.5.8Z"/>
            </svg>
          {/if}
        </i>
      </button>
    </div>
  <FeatureScroller product={product}/>

  </div>


  <div class="feature" feature="build-and-features" feature-title="BUILD AND FEATURES">
    <div class="title">
      <h4>BUILD AND FEATURES</h4>
      <hr class="collapsed">
    </div>
    <div class="content">
      <div class="case-materials">
        <div class="text">
          <h2 class="feature-sub-title hidden">CASE&nbsp;MATERIALS</h2>
          <p>This section should describe the reasoning behind the material choices for the case components. Also illustrate how this affects the characteristics of the keyboard.</p>
        </div>
        <div class="container">
          <div class="inner-container">
            <div class="placeholder hidden">[MATERIAL_1]</div>
            <div class="caption">more text of how good the material <br> end of text describing the material</div>
          </div>
          <div class="inner-container">
            <div class="caption">more text of how good the material <br> end of text describing the material</div>
            <div class="placeholder hidden">[MATERIAL_2]</div>
          </div>
        </div>
      </div>
  
      <div class="rubber-feet hidden">
        <div class="text">
          <h2 class="feature-sub-title hidden">RUBBER&nbsp;FEET</h2>
          <p>This section should describe the rubber feet and highlight their unique design.</p>
        </div>
      </div>
  
      <div class="numpad">
        <div class="text">
          <h2 class="feature-sub-title hidden">SHIFT THE NUMPAD</h2>
        </div>
        <div class="switcheroo">
          <div class="placeholder keyboard">[KEYBOARD]</div>
          <div class="placeholder numpad">[NUMPAD]</div>
        </div>
      </div>
  
      <div class="layout">
        <div class="text">
          <h2 class="feature-sub-title hidden">LAYOUT</h2>
          <p>This section should describe the layout of the keyboard (60% + Southpaw Numpad). Highlight the practicality of the layout here.</p>
        </div>
        <div class="placeholder hidden">[LAYOUT]</div>
      </div>

      <OtherCarousel otherFeatures={otherFeatures}/>

    </div>
  </div>

  <div class="feature" feature="typing-experience" feature-title="TYPING EXPERIENCE">
    <div class="title">
      <h4>TYPING EXPERIENCE</h4>
      <hr class="collapsed">
    </div>
    <div class="content">
      <div class="typing-angle">
        <div class="text">
          <h2 class="feature-sub-title hidden">TYPING ANGLE</h2>
          <p>This section should highlight the typing angle and the effect it has on the ergonomics of the keyboard.</p>
        </div>
        <div class="placeholder hidden">[TYPING_ANGLE]</div>
      </div>

      <div class="mounting">
        <div class="text">
          <h2 class="feature-sub-title hidden">MOUNTING</h2>
          <p>This section should showcase the possible mounting styles of the plate in the keyboard case, and how it together with the multi-foam design contributes to the unique feel and sound of the keyboard.</p>
        </div>
        <Carousel product={product} />
      </div>

      <FadingCarousel/>
    </div>
  </div>

  <div class="feature" feature="specifications" feature-title="SPECIFICATIONS">
    <div class="title">
      <h4>SPECIFICATIONS</h4>
      <hr class="collapsed">
    </div>

    <div class="content">
      <div class="specifications">
        <div class="specification">
          <h4 class="title">DIMENSIONS</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
        <div class="specification">
          <h4 class="title">WEIGHT</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
        <div class="specification">
          <h4 class="title">TYPING ANGLE</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
        <div class="specification">
          <h4 class="title">USB-C</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
        <div class="specification">
          <h4 class="title">DIN MAMET</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
        <div class="specification">
          <h4 class="title">LAYOUT</h4>
          <p>asdasdas njodsand 18CC</p>
        </div>
      </div>
    </div>
  </div>

</div>