<script>
  import { importComponentMedia, mobileWidthThreshold } from '$lib/js/helper.js';
  import { onDestroy, onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  import { quintInOut } from 'svelte/easing';

  const frames = importComponentMedia('', 'scroll-indicator');

  let currentFrameIndex = 0;
  let scrollIndicatorRef;
  let scrollIndicatorInterval;

  let direction = 1; // 1 for forward, -1 for backward

  const preloadFrames = () => {
    for (let i = 0; i < frames.length; i++) {
      let image = new Image();
      image.src = frames[i];
      frames[i] = image;
    }
  }

  const updateScrollIndicatorFrame = () => {
    currentFrameIndex += direction;
    // Reverse the direction whenever the index reaches the end or start of the frames array.
    if (currentFrameIndex >= frames.length - 1 || currentFrameIndex <= 0) {
      currentFrameIndex = 0;
    }
  }

  async function scrollIndicatorAnim () {
    return new Promise((resolve) => {
      setTimeout(() => {
        scrollIndicatorInterval = setInterval(updateScrollIndicatorFrame, 18);
      }, 500);
    });
  }

  onMount(() => {
    preloadFrames();
    scrollIndicatorAnim();

  });

  onDestroy(() => {
    clearInterval(updateScrollIndicatorFrame);
  });

</script>


<style>
  @import '../css/components/ScrollIndicator.css';
</style>


<img id="scroll-indicator" src={frames[currentFrameIndex].src} bind:this={scrollIndicatorRef} alt="More content below" transition:fade={{ easing: quintInOut, duration: 250 }}/>